{
 "openapi": "3.0.3",
 "info": {
  "title": "Power Platform API",
  "version": "2024-10-01",
  "description": "Unofficial. Reverse-engineered from the public Microsoft Learn documentation (learn.microsoft.com) and not verified against the live service. Tags group operations by logical resource; x-ms-namespace records the namespace Microsoft files each under.",
  "x-api-versions": [
   "2024-10-01"
  ]
 },
 "servers": [
  {
   "url": "https://api.powerplatform.com"
  }
 ],
 "security": [
  {
   "azure_auth": [
    "https://api.powerplatform.com/.default"
   ]
  }
 ],
 "tags": [
  {
   "name": "Advisor Recommendation",
   "description": "Recommendations and actions"
  },
  {
   "name": "Application Package",
   "description": "Tenant and environment app install"
  },
  {
   "name": "Async Operation",
   "description": "Job polling"
  },
  {
   "name": "Billing Policy",
   "description": "CRUD"
  },
  {
   "name": "Billing Policy to Environment link",
   "description": "Environment side; Policy side"
  },
  {
   "name": "Canvas App",
   "description": "App admin"
  },
  {
   "name": "Capacity Allocation",
   "description": "Add-on allocation; Environment view"
  },
  {
   "name": "Cloud Flow",
   "description": "Actions; Flows; Runs"
  },
  {
   "name": "Connection",
   "description": "Connections"
  },
  {
   "name": "Connector",
   "description": "Connector catalogue"
  },
  {
   "name": "Copilot Agent",
   "description": "Agent admin and quarantine; Channels"
  },
  {
   "name": "Cross-Tenant Connection Report",
   "description": "Reports"
  },
  {
   "name": "Currency Allocation",
   "description": "Allocation; Reports; Temporary entitlement"
  },
  {
   "name": "DSR Compliance Request",
   "description": "DSR workflows"
  },
  {
   "name": "Entitlement",
   "description": "Entitlements; Insights"
  },
  {
   "name": "Environment",
   "description": "Create; Delete; Disaster recovery configuration; Link Dataverse; Managed governance; Management settings; Read model"
  },
  {
   "name": "Environment Group",
   "description": "CRUD and membership"
  },
  {
   "name": "Environment Operations",
   "description": "Backups; Copy; DR drills and failover; Provisioning reference data; Recover; Reset; Restore"
  },
  {
   "name": "F&O Environment",
   "description": "Maintenance settings; Operation errors; Properties; Versions"
  },
  {
   "name": "FinOps Licensing",
   "description": "F&O licensing"
  },
  {
   "name": "ISV Contract",
   "description": "Pay-as-you-go contracts"
  },
  {
   "name": "Per-Flow Capacity",
   "description": "Per-user-per-flow capacity"
  },
  {
   "name": "Power Pages Website",
   "description": "Site admin, security, scanning"
  },
  {
   "name": "Resource Query",
   "description": "Cross-resource query"
  },
  {
   "name": "Role Based Access Control",
   "description": "Assignments and definitions; tenant, environment group and environment scopes"
  },
  {
   "name": "Rule Set",
   "description": "Group rule sets"
  },
  {
   "name": "Rule-Based Policy",
   "description": "Policy and assignments"
  },
  {
   "name": "Tenant Capacity",
   "description": "Capacity; Storage warnings; Thresholds"
  },
  {
   "name": "User",
   "description": "Admin user operations"
  }
 ],
 "paths": {
  "/analytics/actions/{actionName}": {
   "post": {
    "operationId": "analytics_executeRecommendationAction",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Recommendation Action Execute",
    "parameters": [
     {
      "name": "actionName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The name of the action to execute."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdvisorActionResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Too Many Requests"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "actionParameters": {
          "type": "object",
          "description": "The collection of parameters to carry out the action for a resource"
         },
         "scenario": {
          "type": "string",
          "description": "The name of the recommendation for which the action is triggered"
         }
        },
        "required": [
         "actionParameters",
         "scenario"
        ]
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/execute-recommendation-action"
    }
   }
  },
  "/analytics/advisorRecommendations": {
   "get": {
    "operationId": "analytics_getRecommendations",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Recommendations Read",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "$skipToken",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Skip token for the next page of recommendations."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdvisorRecommendationIEnumerableResponseWithContinuation"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-recommendations"
    }
   }
  },
  "/analytics/advisorRecommendations/scenarios": {
   "get": {
    "operationId": "analytics_getRecommendationScenarios",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Recommendation Scenarios Read",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/AdvisorScenario"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-recommendation-scenarios"
    }
   }
  },
  "/analytics/advisorRecommendations/{scenario}/actionmetadata/{actionName}": {
   "get": {
    "operationId": "analytics_getActionSchema",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Action Schema Read",
    "parameters": [
     {
      "name": "actionName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The name of the action."
     },
     {
      "name": "scenario",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The recommendation name."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     },
     "429": {
      "description": "Too Many Requests"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-action-schema"
    }
   }
  },
  "/analytics/advisorRecommendations/{scenario}/actions": {
   "get": {
    "operationId": "analytics_getScenarioActions",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Scenario Actions Read",
    "parameters": [
     {
      "name": "scenario",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The recommendation name."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/AdvisorAction"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     },
     "429": {
      "description": "Too Many Requests"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-scenario-actions"
    }
   }
  },
  "/analytics/advisorRecommendations/{scenario}/resources": {
   "get": {
    "operationId": "analytics_getRecommendationResources",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Recommendation Resources Read",
    "parameters": [
     {
      "name": "scenario",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The recommendation name."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "$skipToken",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Skip token for the next page of resources."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdvisorRecommendationResourceIEnumerableResponseWithContinuation"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     },
     "429": {
      "description": "Too Many Requests"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-recommendation-resources"
    }
   }
  },
  "/appmanagement/applicationPackages": {
   "get": {
    "operationId": "appmanagement_getTenantApplicationPackage",
    "tags": [
     "Application Package"
    ],
    "summary": "Tenant Read",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TenantApplicationPackageContinuationResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-ms-namespace": "appmanagement/applications",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/appmanagement/applications/get-tenant-application-package"
    }
   }
  },
  "/appmanagement/environments/{environmentId}/applicationPackages": {
   "get": {
    "operationId": "appmanagement_getEnvironmentApplicationPackage",
    "tags": [
     "Application Package"
    ],
    "summary": "Environment Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Environment ID (not to be confused with Org ID)."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "appInstallState",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Application package install state."
     },
     {
      "name": "lcid",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Application package supported language ID."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApplicationPackageContinuationResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-ms-namespace": "appmanagement/applications",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/appmanagement/applications/get-environment-application-package"
    }
   }
  },
  "/appmanagement/environments/{environmentId}/applicationPackages/{uniqueName}/install": {
   "post": {
    "operationId": "appmanagement_installApplicationPackage",
    "tags": [
     "Application Package"
    ],
    "summary": "Install",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Environment ID (not to be confused with the organization ID)."
     },
     {
      "name": "uniqueName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Package unique name."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InstancePackage"
        }
       }
      }
     },
     "202": {
      "description": "Success"
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-ms-namespace": "appmanagement/applications",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "payloadValue": {
          "type": "string"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/appmanagement/applications/install-application-package"
    }
   }
  },
  "/appmanagement/environments/{environmentId}/operations/{operationId}": {
   "get": {
    "operationId": "appmanagement_getApplicationPackageInstallStatus",
    "tags": [
     "Application Package"
    ],
    "summary": "Install Status Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Environment ID (not to be confused with organization ID)."
     },
     {
      "name": "operationId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "Operation ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InstancePackageOperationPollingResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-ms-namespace": "appmanagement/applications",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/appmanagement/applications/get-application-package-install-status"
    }
   }
  },
  "/authorization/environmentGroups/{environmentGroupId}/roleAssignments": {
   "post": {
    "operationId": "authorization_createEnvironmentGroupRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Create (Environment Group)",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment group."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "201": {
      "description": "Role assignment created.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleAssignmentResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The body is invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "principalObjectId": {
          "type": "string",
          "description": "The ID of the principal to assign"
         },
         "principalType": {
          "type": "string",
          "description": "The type of the principal"
         },
         "roleDefinitionId": {
          "type": "string",
          "description": "The ID of the role definition"
         },
         "scope": {
          "type": "string",
          "description": "The assignment scope"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/create-environment-group-role-assignment"
    }
   },
   "get": {
    "operationId": "authorization_listEnvironmentGroupRoleAssignments",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignments List (Environment Group)",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment group."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of role assignments for the environment group.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleAssignmentResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The query parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/list-environment-group-role-assignments"
    }
   }
  },
  "/authorization/environmentGroups/{environmentGroupId}/roleAssignments/{roleAssignmentId}": {
   "delete": {
    "operationId": "authorization_deleteEnvironmentGroupRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Delete (Environment Group)",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment group."
     },
     {
      "name": "roleAssignmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the role assignment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "204": {
      "description": "Role assignment deleted successfully."
     },
     "400": {
      "description": "Bad Request - The parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The role assignment does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/delete-environment-group-role-assignment"
    }
   }
  },
  "/authorization/environments/{environmentId}/roleAssignments": {
   "post": {
    "operationId": "authorization_createEnvironmentRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Create (Environment)",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "201": {
      "description": "Role assignment created.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleAssignmentResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The body is invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     },
     "200": {
      "description": "The created role assignment. Verified live; the documentation shows 201 with a different envelope.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RbacRoleAssignment"
        }
       }
      }
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): returns 200 OK, not the documented 201, and a single assignment object {roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdByPrincipalType, createdByPrincipalObjectId, createdOn, expiresOn}, not the documented RoleAssignmentResponse {value:[...]} envelope.",
     "The body scope must match this path (/tenants/{tid}/environments/{id}) or the call returns 400 WrongResourceTypeForUrlContext."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): returns 200 OK, not the documented 201, and a single assignment object {roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdByPrincipalType, createdByPrincipalObjectId, createdOn, expiresOn}, not the documented RoleAssignmentResponse {value:[...]} envelope.\n> - The body scope must match this path (/tenants/{tid}/environments/{id}) or the call returns 400 WrongResourceTypeForUrlContext.",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "principalObjectId": {
          "type": "string",
          "description": "The ID of the principal to assign"
         },
         "principalType": {
          "type": "string",
          "description": "The type of the principal"
         },
         "roleDefinitionId": {
          "type": "string",
          "description": "The ID of the role definition"
         },
         "scope": {
          "type": "string",
          "description": "The assignment scope"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/create-environment-role-assignment"
    }
   },
   "get": {
    "operationId": "authorization_listEnvironmentRoleAssignments",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignments List (Environment)",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Role assignments at environment scope. Verified against the live API.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RbacRoleAssignmentList"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The query parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): items carry the full assignment shape (roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdBy fields, createdOn, expiresOn), not the documented role-definition-shaped item."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): items carry the full assignment shape (roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdBy fields, createdOn, expiresOn), not the documented role-definition-shaped item.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/list-environment-role-assignments"
    }
   }
  },
  "/authorization/environments/{environmentId}/roleAssignments/{roleAssignmentId}": {
   "delete": {
    "operationId": "authorization_deleteEnvironmentRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Delete (Environment)",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "roleAssignmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the role assignment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "204": {
      "description": "Role assignment deleted successfully."
     },
     "400": {
      "description": "Bad Request - The parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The role assignment does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): returns 200 with the deleted assignment in the body. Deletes are path-scoped, so an environment-scoped assignment cannot be deleted through the tenant path (that returns 404 RoleAssignmentNotFound)."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): returns 200 with the deleted assignment in the body. Deletes are path-scoped, so an environment-scoped assignment cannot be deleted through the tenant path (that returns 404 RoleAssignmentNotFound).",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/delete-environment-role-assignment"
    }
   }
  },
  "/authorization/roleAssignments": {
   "post": {
    "operationId": "authorization_createRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Create (Tenant)",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "201": {
      "description": "Role assignment created.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleAssignmentResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The body is invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): the URL path fixes the allowed scope. Posting a body scope of /tenants/{tid}/environments/{id} to this tenant endpoint returns 400 WrongResourceTypeForUrlContext. Tenant, environment, and environment-group scoped assignments are separate endpoints, not one endpoint switched by the body scope."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): the URL path fixes the allowed scope. Posting a body scope of /tenants/{tid}/environments/{id} to this tenant endpoint returns 400 WrongResourceTypeForUrlContext. Tenant, environment, and environment-group scoped assignments are separate endpoints, not one endpoint switched by the body scope.",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "principalObjectId": {
          "type": "string",
          "description": "The ID of the principal to assign"
         },
         "principalType": {
          "type": "string",
          "description": "The type of the principal"
         },
         "roleDefinitionId": {
          "type": "string",
          "description": "The ID of the role definition"
         },
         "scope": {
          "type": "string",
          "description": "The assignment scope"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/create-role-assignment"
    }
   },
   "get": {
    "operationId": "authorization_listRoleAssignments",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignments List (Tenant)",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Tenant-scoped role assignments. Verified against the live API.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RbacRoleAssignmentList"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The query parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): assignment items are {roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdByPrincipalType, createdByPrincipalObjectId, createdOn, expiresOn}, not the documented role-definition-shaped item. The tenant list returns only tenant-scoped assignments; environment-scoped ones appear only under /authorization/environments/{id}/roleAssignments."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): assignment items are {roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdByPrincipalType, createdByPrincipalObjectId, createdOn, expiresOn}, not the documented role-definition-shaped item. The tenant list returns only tenant-scoped assignments; environment-scoped ones appear only under /authorization/environments/{id}/roleAssignments.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/list-role-assignments"
    }
   }
  },
  "/authorization/roleAssignments/{roleAssignmentId}": {
   "delete": {
    "operationId": "authorization_deleteRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Delete (Tenant)",
    "parameters": [
     {
      "name": "roleAssignmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the role assignment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "204": {
      "description": "Role assignment deleted successfully."
     },
     "400": {
      "description": "Bad Request - The parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The role assignment does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/delete-role-assignment"
    }
   }
  },
  "/authorization/roleDefinitions": {
   "get": {
    "operationId": "authorization_listRoleDefinitions",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Role Definitions List",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of role definitions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleDefinitionResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The query parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): role definitions also carry description, roleType, assignableScopes[], restrictedScopes[], and permissionsExceptions[] beyond the documented permissions, roleDefinitionId, and roleDefinitionName."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): role definitions also carry description, roleType, assignableScopes[], restrictedScopes[], and permissionsExceptions[] beyond the documented permissions, roleDefinitionId, and roleDefinitionName.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/list-role-definitions"
    }
   }
  },
  "/connectivity/environments/{environmentId}/connections": {
   "get": {
    "operationId": "connectivity_listConnections",
    "tags": [
     "Connection"
    ],
    "summary": "List",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "ID of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of connections in the specified environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ListConnectionsResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connections",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/connectivity/connections/list-connections"
    }
   }
  },
  "/connectivity/environments/{environmentId}/connectors": {
   "get": {
    "operationId": "connectivity_listConnectors",
    "tags": [
     "Connector"
    ],
    "summary": "List",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "ID of the environment."
     },
     {
      "name": "$filter",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Filter query to specify the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of connectors in the specified environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ListConnectorsResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connectors",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/connectivity/connectors/list-connectors"
    }
   }
  },
  "/connectivity/environments/{environmentId}/connectors/{connectorId}": {
   "get": {
    "operationId": "connectivity_getConnectorById",
    "tags": [
     "Connector"
    ],
    "summary": "Read",
    "parameters": [
     {
      "name": "connectorId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "ID of the connector."
     },
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "ID of the environment."
     },
     {
      "name": "$filter",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Filter query to specify the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A specific connector in the specified environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/GetConnectorByIdResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connectors",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/connectivity/connectors/get-connector-by-id"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/agents/{AgentId}/channels/{ChannelName}/download": {
   "get": {
    "operationId": "copilotstudio_downloadAgentChannelManifest",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Agent Channel Manifest Download",
    "parameters": [
     {
      "name": "AgentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The bot ID."
     },
     {
      "name": "ChannelName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The channel name. Currently only \"M365\" is supported."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "includeAgentSchema",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      },
      "description": "Whether to include the agent schema in the downloaded manifest package."
     }
    ],
    "responses": {
     "200": {
      "description": "The channel manifest package as a downloadable zip file.",
      "content": {
       "application/json": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/agent-channels",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/agent-channels/download-agent-channel-manifest"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botAdminOperations": {
   "delete": {
    "operationId": "copilotstudio_deleteCopilotAgent",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Delete",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response"
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/delete-copilot-agent"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botAdminOperations/reassign": {
   "post": {
    "operationId": "copilotstudio_reassignCopilotAgent",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Reassign",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "204": {
      "description": "Successful response"
     },
     "400": {
      "description": "Bad Request."
     },
     "500": {
      "description": "Internal Server Error."
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "NewOwnerAadUserId": {
          "type": "string",
          "description": "The new owner Entra ID."
         }
        },
        "required": [
         "NewOwnerAadUserId"
        ]
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/reassign-copilot-agent"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botQuarantine": {
   "get": {
    "operationId": "copilotstudio_getBotQuarantineStatus",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Bot Quarantine Status Read",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BotQuarantineStatus"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/get-bot-quarantine-status"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botQuarantine/SetAsQuarantined": {
   "post": {
    "operationId": "copilotstudio_setBotAsQuarantined",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Set Bot As Quarantined",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BotQuarantineStatus"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/set-bot-as-quarantined"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botQuarantine/SetAsUnquarantined": {
   "post": {
    "operationId": "copilotstudio_setBotAsUnquarantined",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Set Bot As Unquarantined",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BotQuarantineStatus"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/set-bot-as-unquarantined"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/connectorConsentBypass": {
   "get": {
    "operationId": "copilotstudio_getConnectorConsentBypass",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Connector Consent Bypass Read",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConnectorConsentBypassResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/get-connector-consent-bypass"
    }
   },
   "put": {
    "operationId": "copilotstudio_setConnectorConsentBypass",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Connector Consent Bypass Set",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConnectorConsentBypassResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "adminConsentBypass": {
          "type": "boolean",
          "description": "Indicates whether to enable admin connector consent bypass for the bot."
         }
        },
        "required": [
         "adminConsentBypass"
        ]
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/set-connector-consent-bypass"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testruns": {
   "get": {
    "operationId": "copilotstudio_listMakerEvaluationTestRuns",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Test Runs List",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TestRunCollection"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/list-maker-evaluation-test-runs"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testruns/{TestRunId}": {
   "get": {
    "operationId": "copilotstudio_getMakerEvaluationTestRun",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Test Run Read",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "TestRunId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The test run ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TestRun"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/get-maker-evaluation-test-run"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testruns/{TestRunId}/snapshot": {
   "get": {
    "operationId": "copilotstudio_downloadMakerEvaluationSnapshot",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Snapshot Download",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "TestRunId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The test run ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "The bot content snapshot ZIP file.",
      "content": {
       "application/json": {
        "schema": {
         "type": "string"
        }
       }
      },
      "headers": {
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "404": {
      "description": "Test run not found."
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/download-maker-evaluation-snapshot"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testsets": {
   "get": {
    "operationId": "copilotstudio_listMakerEvaluationTestSets",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Test Sets List",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TestSetCollection"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/list-maker-evaluation-test-sets"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testsets/{TestSetId}": {
   "get": {
    "operationId": "copilotstudio_getMakerEvaluationTestSet",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Test Set Read",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "TestSetId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The test set ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TestSet"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/get-maker-evaluation-test-set"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testsets/{TestSetId}/run": {
   "post": {
    "operationId": "copilotstudio_runMakerEvaluationTestSet",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Run Maker Evaluation Test Set",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "TestSetId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The test set ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RunStatusResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request."
     },
     "500": {
      "description": "Internal Server Error."
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "evaluationRunName": {
          "type": "string",
          "description": "The name of the evaluation run."
         },
         "mcsConnectionId": {
          "type": "string",
          "description": "The connection ID for the MCS connector that is used to execute the evaluation run, or leave empty for an anonymous run."
         },
         "runOnPublishedBot": {
          "type": "boolean",
          "description": "Indicates whether the operation should run on a published bot instance. If set to false, the operation will run on a draft bot instance."
         },
         "toolsConnections": {
          "type": "array",
          "items": {
           "$ref": "#/components/schemas/ToolsConnections"
          },
          "description": "The tools connections that will be used to execute the evaluation run. This is a list of tools along with the corresponding user connections that should be used for each tool."
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/run-maker-evaluation-test-set"
    }
   }
  },
  "/dynamics/environments/{environmentId}/finopsadminsettings": {
   "get": {
    "operationId": "dynamics_getFinOpsMaintenanceSettings",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Maintenance Settings Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved Finance and Operations Maintenance.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsAdminSettingsResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-maintenance-settings",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-maintenance-settings/get-fin-ops-maintenance-settings"
    }
   },
   "put": {
    "operationId": "dynamics_updateFinOpsMaintenanceSettings",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Maintenance Settings Update",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully updated Finance and Operations Maintenance.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsAdminSettingsResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-maintenance-settings",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "updatedMaintenanceWindowCadence": {
          "allOf": [
           {
            "$ref": "#/components/schemas/FinOpsUpdateCadence"
           }
          ],
          "description": "Cadence for major version application updates."
         },
         "updatedMaintenanceWindowDaysOfWeek": {
          "type": "array",
          "items": {
           "$ref": "#/components/schemas/FinOpsDayOfWeek"
          },
          "description": "The updated maintenance window days of the week."
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-maintenance-settings/update-fin-ops-maintenance-settings"
    }
   }
  },
  "/dynamics/environments/{environmentId}/finopsproperties": {
   "get": {
    "operationId": "dynamics_getFinOpsProperties",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Properties Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved Finance and Operations properties.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsPropertiesResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-properties",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-properties/get-fin-ops-properties"
    }
   }
  },
  "/dynamics/environments/{environmentId}/finopsversions": {
   "get": {
    "operationId": "dynamics_getFinOpsVersions",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Versions Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved available Finance and Operations versions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsVersionsResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-versions",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-versions/get-fin-ops-versions"
    }
   }
  },
  "/dynamics/environments/{environmentId}/finopsversions/{version}/apply": {
   "post": {
    "operationId": "dynamics_applyFinOpsVersion",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Version Apply",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "version",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The Finance and Operations application version to apply (for example, 10.0.47.5)."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "202": {
      "description": "The apply version operation was accepted and is being processed.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApplyFinOpsVersionAcceptedResponse"
        }
       }
      },
      "headers": {
       "Location": {
        "schema": {
         "type": "string"
        }
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        }
       }
      }
     },
     "204": {
      "description": "No update was required because the environment is already at or above the requested version."
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-versions",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-versions/apply-fin-ops-version"
    }
   }
  },
  "/dynamics/environments/{environmentId}/operationerrors": {
   "get": {
    "operationId": "dynamics_getFinOpsOperationErrors",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Operation Errors Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "maxResults",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "format": "int32"
      },
      "description": "The maximum number of operation errors to return. Defaults to twenty (20) and is capped at one thousand (1000)."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved Finance and Operations operation errors.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/OperationErrorsResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-operation-errors",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-operation-errors/get-fin-ops-operation-errors"
    }
   }
  },
  "/environmentmanagement/environmentGroupOperations/{operationId}": {
   "get": {
    "operationId": "environmentmanagement_getEnvironmentGroupOperation",
    "tags": [
     "Environment Group"
    ],
    "summary": "Operation Read",
    "parameters": [
     {
      "name": "operationId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The operation ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "The lifecycle operation. Verified against the live API.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BapLifecycleOperation"
        }
       }
      }
     },
     "204": {
      "description": "No Content. Returned for an unknown or absent operation id (verified against the live API)."
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProblemDetails"
        }
       }
      }
     }
    },
    "x-ms-namespace": "environmentmanagement/environment-groups",
    "x-notes": [
     "Verified live (2026-08-27): the returned operation is a BAP lifecycle operation (status in state.id, transitioning NotStarted to Succeeded; stages Validate, Prepare, Run, Finalize), not an environment-group-specific type. An unknown or absent operation id returns 204 No Content."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): the returned operation is a BAP lifecycle operation (status in state.id, transitioning NotStarted to Succeeded; stages Validate, Prepare, Run, Finalize), not an environment-group-specific type. An unknown or absent operation id returns 204 No Content.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/environmentmanagement/environment-groups/get-environment-group-operation"
    }
   }
  },
  "/environmentmanagement/environmentGroups": {
   "post": {
    "operationId": "environmentmanagement_createEnvironmentGroup",
    "tags": [
     "Environment Group"
    ],
    "summary": "Create",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentGroup"
        }
       }
      }
     },
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProblemDetails"
        }
       }
      }
     }
    },
    "x-ms-namespace": "environmentmanagement/environment-groups",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "childrenGroupIds": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          }
         },
         "createdBy": {
          "$ref": "#/components/schemas/Principal"
         },
         "createdTime": {
          "type": "string",
          "format": "date-time"
         },
         "description": {
          "type": "string"
         },
         "displayName": {
          "type": "string"
         },
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "lastModifiedBy": {
          "$ref": "#/components/schemas/Principal"
         },
         "lastModifiedTime": {
          "type": "string",
          "format": "date-time"
         },
         "parentGroupId": {
          "type": "string",
          "format": "uuid"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/environmentmanagement/environment-groups/create-environment-group"
    }
   },
   "get": {
    "operationId": "environmentmanagement_listEnvironmentGroups",
    "tags": [
     "Environment Group"
    ],
    "summary": "List",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentGroupResponseWithOdataContinuation"
        }
       }
      }
     },
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProblemDetails"
        }
       }
      }
     }
    },
    "x-ms-namespace": "environmentmanagement/environment-groups",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/environmentmanagement/environment-groups/list-environment-groups"
    }
   }
  },
  "/environmentmanagement/environmentGroups/{groupId}": {
   "delete": {
    "operationId": "environmentmanagement_deleteEnvironmentGroup",
    "tags": [
     "Environment Group"
    ],
    "summary": "Delete",
    "parameters": [
     {
      "name": "groupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The group ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success"
     },
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProblemDetails"
        }
       }
      }
     }
    },
    "x-ms-namespace": "environmentmanagement/environment-groups",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/environmentmanagement/environment-groups/delete-environment-group"
    }
   },
   "get": {
    "operationId": "environmentmanagement_getEnvironmentGroup",
    "tags": [
     "Environment Group"
    ],
    "summary": "Read",
    "parameters": [
     {
      "name": "groupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The group ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentGroup"
        }
       }
      }
     },
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProblemDetails"
        }
       }
      }
     }
    },
    "x-ms-namespace": "environmentmanagement/environment-groups",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/environmentmanagement/environment-groups/get-environment-group"
    }
   },
   "put": {
    "operationId": "environmentmanagement_updateEnvironmentGroup",
    "tags": [
     "Environment Group"
    ],
    "summary": "Update",
    "parameters": [
     {
      "name": "groupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The group ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentGroup"
        }
       }
      }
     },
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProblemDetails"
        }
       }
      }
     }
    },
    "x-ms-namespace": "environmentmanagement/environment-groups",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "childrenGroupIds": {
          "type": "array",
          "items": {
           "type": "string",
           "format": "uuid"
          }
         },
         "createdBy": {
          "$ref": "#/components/schemas/Principal"
         },
         "createdTime": {
          "type": "string",
          "format": "date-time"
         },
         "description": {
          "type": "string"
         },
         "displayName": {
          "type": "string"
         },
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "lastModifiedBy": {
          "$ref": "#/components/schemas/Principal"
         },
         "lastModifiedTime": {
          "type": "string",
          "format": "date-time"
         },
         "parentGroupId": {
          "type": "string",
          "format": "uuid"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/environmentmanagement/environment-groups/update-environment-group"
    }
   }
  },
  "/environmentmanagement/environmentGroups/{groupId}/addEnvironment/{environmentId}": {
   "post": {
    "operationId": "environmentmanagement_addEnvironmentToGroup",
    "tags": [
     "Environment Group"
    ],
    "summary": "Environment Add",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "groupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The group ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "202": {
      "description": "Accepted",
      "headers": {
       "Location": {
        "description": "URL of the environment-group lifecycle operation to poll, of the form /environmentmanagement/environmentGroupOperations/{operationId}?api-version=1. Undocumented; verified against the live API.",
        "schema": {
         "type": "string",
         "format": "uri"
        }
       }
      }
     },
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProblemDetails"
        }
       }
      }
     }
    },
    "x-ms-namespace": "environmentmanagement/environment-groups",
    "x-notes": [
     "Adds a single environment (the path environmentId) to the group; there is no whole-list replace. The environment must already be a Managed Environment. The REST endpoint does not auto-upgrade it (the admin center does), and an unmanaged environment returns 400 InputValidationError.",
     "The success response is 202 Accepted with an undocumented Location header (shown below) pointing at the group operation to poll; see [Read Operation](#/operations/environmentmanagement_getEnvironmentGroupOperation). No Operation-Location or azure-asyncoperation header is sent.",
     "Membership is recorded on the environment record (its environmentGroupId), not as a members collection on the group. The 400 body is {error:{code:InputValidationError}}, not the documented ProblemDetails. Both api-version 1 and 2024-10-01 are accepted."
    ],
    "description": "> **Verified against the live API**\n>\n> - Adds a single environment (the path environmentId) to the group; there is no whole-list replace. The environment must already be a Managed Environment. The REST endpoint does not auto-upgrade it (the admin center does), and an unmanaged environment returns 400 InputValidationError.\n> - The success response is 202 Accepted with an undocumented Location header (shown below) pointing at the group operation to poll; see [Read Operation](#/operations/environmentmanagement_getEnvironmentGroupOperation). No Operation-Location or azure-asyncoperation header is sent.\n> - Membership is recorded on the environment record (its environmentGroupId), not as a members collection on the group. The 400 body is {error:{code:InputValidationError}}, not the documented ProblemDetails. Both api-version 1 and 2024-10-01 are accepted.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/environmentmanagement/environment-groups/add-environment-to-group"
    }
   }
  },
  "/environmentmanagement/environmentGroups/{groupId}/removeEnvironment/{environmentId}": {
   "post": {
    "operationId": "environmentmanagement_removeEnvironmentFromGroup",
    "tags": [
     "Environment Group"
    ],
    "summary": "Environment Remove",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "groupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The group ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "202": {
      "description": "Accepted",
      "headers": {
       "Location": {
        "description": "URL of the environment-group lifecycle operation to poll, of the form /environmentmanagement/environmentGroupOperations/{operationId}?api-version=1. Undocumented; verified against the live API.",
        "schema": {
         "type": "string",
         "format": "uri"
        }
       }
      }
     },
     "204": {
      "description": "No Content"
     },
     "400": {
      "description": "Bad Request",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ProblemDetails"
        }
       }
      }
     }
    },
    "x-ms-namespace": "environmentmanagement/environment-groups",
    "x-notes": [
     "Removes a single environment (the path environmentId) from the group; there is no whole-list replace.",
     "Same 202 plus Location async transport as add; poll the returned Location header, see [Read Operation](#/operations/environmentmanagement_getEnvironmentGroupOperation).",
     "Membership is validated synchronously, so removing an environment that is not currently a member returns 400 InputValidationError. A remove issued before an async add has settled will fail this way."
    ],
    "description": "> **Verified against the live API**\n>\n> - Removes a single environment (the path environmentId) from the group; there is no whole-list replace.\n> - Same 202 plus Location async transport as add; poll the returned Location header, see [Read Operation](#/operations/environmentmanagement_getEnvironmentGroupOperation).\n> - Membership is validated synchronously, so removing an environment that is not currently a member returns 400 InputValidationError. A remove issued before an async add has settled will fail this way.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/environmentmanagement/environment-groups/remove-environment-from-group"
    }
   }
  },
  "/environmentmanagement/environments": {
   "get": {
    "operationId": "environmentmanagement_listEnvironmentsForUser",
    "tags": [
     "Environment"
    ],
    "summary": "List",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "$filter",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "OData filter expression to restrict the set of environments returned. Supported filter properties include `dataverseId`, `type`, `geo`, `state`, `environmentGroupId`, and `domainName`."
     },
     {
      "name": "$orderby",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "OData order-by expression for sorting the results."
     },
     {
      "name": "$select",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Comma-separated list of properties to include in the response."
     },
     {
      "name": "$skip",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 0
      },
      "description": "Number of environments to skip before returning results."
     },
     {
      "name": "$top",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 0
      },
      "description": "Maximum number of environments to return."
     },
     {
      "name": "ids",
      "in": "query",
      "required": false,
      "schema": {
       "type": "array",
       "items": {
        "type": "string"
       }
      },
      "description": "Comma-separated list of environment IDs to retrieve. When specified, only environments matching these IDs are returned."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of environments.",
      "content": {
       "application/json": {
        "schema": {
[...]
