{
 "openapi": "3.0.3",
 "info": {
  "title": "Power Platform API",
  "version": "2024-10-01",
  "description": "The Power Platform API is Microsoft's documented control plane for Power Platform administration, organised into namespaces — environment management, licensing, governance, connectivity, app management, Power Pages, Copilot Studio, analytics and more.\n\nRequests carry an `api-version` query parameter. Alongside the global host, some operations are addressed on **tenant-scoped** (`{tenantId}.tenant.api.powerplatform.com`) or **environment-scoped** (`{environmentId}.environment.api.powerplatform.com`) hosts, where the host itself identifies the scope and the path carries no id.\n\nUnofficial and reverse-engineered — see the [README](https://github.com/AdamCoulterOz/powerplatform-apis/tree/main/ppapi) for how it was derived and which parts are verified.",
  "x-api-versions": [
   "1",
   "2021-10-01-preview",
   "2022-03-01-preview",
   "2024-10-01",
   "3"
  ]
 },
 "servers": [
  {
   "url": "https://api.powerplatform.com",
   "description": "Global endpoint. Every documented operation is reachable here; the gateway routes the request to the tenant's own cluster. First-party clients use it for operations that are not already scoped to one tenant or environment by the caller's context."
  },
  {
   "url": "https://{tenantIdHead}.{tenantIdTail}.tenant.api.powerplatform.com",
   "description": "Tenant-scoped endpoint. The host is derived from the tenant id alone — there is no region or scale-unit in it. Remove the hyphens from the tenant id to get 32 hex characters, then split: the first 30 are the first DNS label and the remaining 2 are the second. Tenant `00000000-0000-0000-0000-0000000000ab` therefore resolves to `https://000000000000000000000000000000.ab.tenant.api.powerplatform.com`. Operations served only here act on the calling user or the tenant as a whole and take no tenant id in the path.",
   "variables": {
    "tenantIdHead": {
     "default": "000000000000000000000000000000",
     "description": "The first 30 characters of the tenant id with its hyphens removed."
    },
    "tenantIdTail": {
     "default": "ab",
     "description": "The last 2 characters of the tenant id with its hyphens removed."
    }
   }
  },
  {
   "url": "https://{environmentIdHead}.{environmentIdTail}.environment.api.powerplatform.com",
   "description": "Environment-scoped endpoint. Built from the environment id by the same rule as the tenant host: strip the hyphens to get 32 hex characters, take the first 30 as the first DNS label and the last 2 as the second. Environment `00000000-0000-0000-0000-0000000000ab` resolves to `https://000000000000000000000000000000.ab.environment.api.powerplatform.com`. The environment is implied by the host, so these paths carry no `/environments/{environmentId}` segment — `/connectivity/connections` here is the same resource as `/connectivity/environments/{environmentId}/connections` on the global host.",
   "variables": {
    "environmentIdHead": {
     "default": "000000000000000000000000000000",
     "description": "The first 30 characters of the environment id with its hyphens removed."
    },
    "environmentIdTail": {
     "default": "ab",
     "description": "The last 2 characters of the environment id with its hyphens removed."
    }
   }
  }
 ],
 "security": [
  {
   "azure_auth": [
    "https://api.powerplatform.com/.default"
   ]
  }
 ],
 "tags": [
  {
   "name": "Advisor Chat",
   "description": "A conversational assistant that answers questions about the tenant in prose, backed by whatever the service knows about it. Separate from the advisor recommendations in the same namespace, which return structured findings against specific resources, and from the solution-checker advisor on another host entirely. Preview: the surface is feature-gated in the only client known to call it."
  },
  {
   "name": "Advisor Recommendation",
   "description": "Recommendations and actions"
  },
  {
   "name": "Application Package",
   "description": "Tenant and environment app install"
  },
  {
   "name": "Async Operation",
   "description": "Job polling"
  },
  {
   "name": "Billing Policy",
   "description": "CRUD"
  },
  {
   "name": "Billing Policy to Environment link",
   "description": "Environment side; Policy side"
  },
  {
   "name": "Canvas App",
   "description": "App admin"
  },
  {
   "name": "Capacity Allocation",
   "description": "Add-on allocation; Environment view"
  },
  {
   "name": "Cloud Flow",
   "description": "Actions; Flows; Runs"
  },
  {
   "name": "Cluster",
   "description": "The regional service cluster that serves a tenant or an environment. Its name appears in the `x-ms-gateway-clusters` response header on every call and identifies which stamp, geography and release ring the caller is talking to."
  },
  {
   "name": "Connection",
   "description": "Connections"
  },
  {
   "name": "Connector",
   "description": "Connector catalogue"
  },
  {
   "name": "Copilot Agent",
   "description": "Agent admin and quarantine; Channels"
  },
  {
   "name": "Copilot Governance Setting",
   "description": "A single tenant- or environment-level consent switch for a generative AI capability — typically whether a named model provider may be used as a subprocessor. Each setting carries its own admin-centre presentation, the rule that backs it and the effective value."
  },
  {
   "name": "Cross-Tenant Connection Report",
   "description": "Reports"
  },
  {
   "name": "Currency Allocation",
   "description": "Allocation; Reports; Temporary entitlement"
  },
  {
   "name": "DSR Compliance Request",
   "description": "DSR workflows"
  },
  {
   "name": "Entitlement",
   "description": "Entitlements; Insights"
  },
  {
   "name": "Environment",
   "description": "Create; Delete; Disaster recovery configuration; Link Dataverse; Managed governance; Management settings; Read model"
  },
  {
   "name": "Environment Group",
   "description": "CRUD and membership"
  },
  {
   "name": "Environment Operations",
   "description": "Backups; Copy; DR drills and failover; Provisioning reference data; Recover; Reset; Restore"
  },
  {
   "name": "F&O Environment",
   "description": "Maintenance settings; Operation errors; Properties; Versions"
  },
  {
   "name": "Feature Gate",
   "description": "A named feature flag as evaluated for the caller or the environment. Read-only: the platform decides the value and reports where it came from."
  },
  {
   "name": "FinOps Licensing",
   "description": "F&O licensing"
  },
  {
   "name": "Governance Configuration",
   "description": "Tenant-authored governance content surfaced to makers in the maker portal, addressed by configuration name."
  },
  {
   "name": "ISV Contract",
   "description": "Pay-as-you-go contracts"
  },
  {
   "name": "Notification",
   "description": "In-product notifications for the calling maker, and the Web PubSub channel that pushes them live."
  },
  {
   "name": "Per-Flow Capacity",
   "description": "Per-user-per-flow capacity"
  },
  {
   "name": "Power Pages Website",
   "description": "Site admin, security, scanning"
  },
  {
   "name": "Resource Query",
   "description": "Cross-resource query"
  },
  {
   "name": "Role Based Access Control",
   "description": "Assignments and definitions; tenant, environment group and environment scopes"
  },
  {
   "name": "Rule Set",
   "description": "Group rule sets"
  },
  {
   "name": "Rule-Based Policy",
   "description": "Policy and assignments"
  },
  {
   "name": "Service Plan",
   "description": "The Power Platform service plans (licences) assigned to the calling user, and the policy limits each plan grants."
  },
  {
   "name": "Tenant Capacity",
   "description": "Capacity; Storage warnings; Thresholds"
  },
  {
   "name": "User",
   "description": "Admin user operations"
  },
  {
   "name": "User Setting",
   "description": "A per-user preference blob stored against the caller's Entra object id and addressed by setting name. The maker portal uses them to persist UI state; each setting name has its own free-form shape."
  }
 ],
 "paths": {
  "/analytics/actions/{actionName}": {
   "post": {
    "operationId": "analytics_executeRecommendationAction",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Recommendation Action Execute",
    "parameters": [
     {
      "name": "actionName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The name of the action to execute."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdvisorActionResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Too Many Requests"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "actionParameters": {
          "type": "object",
          "description": "The collection of parameters to carry out the action for a resource"
         },
         "scenario": {
          "type": "string",
          "description": "The name of the recommendation for which the action is triggered"
         }
        },
        "required": [
         "actionParameters",
         "scenario"
        ]
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/execute-recommendation-action"
    }
   }
  },
  "/analytics/advisor/chat/conversations": {
   "get": {
    "operationId": "analytics_listAdvisorConversations",
    "tags": [
     "Advisor Chat"
    ],
    "summary": "Conversations List",
    "description": "Lists the advisor conversations belonging to the calling user. The caller is taken from the token, so there is no way to list another user's threads here. Each entry gives the id to pass as `conversationId` when resuming a thread.\n\n> **From Microsoft's own client, not observed live**\n>\n> - Found in the pac CLI's `advisor` module (pac CLI 2.11.2), which is gated behind the `ModuleAdvisor` feature flag and absent from the CLI's own published command manifest. It is also absent from Microsoft.PowerPlatform.Management, the generated client that covers the rest of this namespace — so the released internal OpenAPI does not describe it yet. Treat it as preview surface that can change or disappear.",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version. The pac CLI pins `2024-10-01` on every request to this API, overwriting any value a caller supplies."
     }
    ],
    "responses": {
     "200": {
      "description": "The calling user's conversations.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdvisorChatConversationCollection"
        }
       }
      }
     }
    },
    "x-ms-namespace": "analytics/advisor-chat",
    "x-source": "pac-cli",
    "servers": [
     {
      "url": "https://{tenantIdHead}.{tenantIdTail}.tenant.api.powerplatform.com",
      "variables": {
       "tenantIdHead": {
        "default": "000000000000000000000000000000"
       },
       "tenantIdTail": {
        "default": "ab"
       }
      }
     }
    ],
    "x-ms-preview": true,
    "x-notes": [
     "Found in the pac CLI's `advisor` module (pac CLI 2.11.2), which is gated behind the `ModuleAdvisor` feature flag and absent from the CLI's own published command manifest. It is also absent from Microsoft.PowerPlatform.Management, the generated client that covers the rest of this namespace — so the released internal OpenAPI does not describe it yet. Treat it as preview surface that can change or disappear."
    ]
   }
  },
  "/analytics/advisor/chat/messages": {
   "post": {
    "operationId": "analytics_askAdvisor",
    "tags": [
     "Advisor Chat"
    ],
    "summary": "Message Send",
    "description": "Asks the Power Platform advisor a question about the tenant and returns its answer. Omit `conversationId` to start a new conversation; the response carries the id the service assigned, and passing it back on the next request continues the same thread with its history intact. Answers are generated, so they take seconds to minutes rather than milliseconds — pac allows five minutes before giving up, and a client should budget similarly rather than using a default HTTP timeout.\n\nThis is not the solution-checker advisor at `advisor.powerapps.com`, and it is unrelated to the advisor recommendations elsewhere in this namespace: those return structured findings about resources, this returns prose.\n\n> **From Microsoft's own client, not observed live**\n>\n> - Found in the pac CLI's `advisor` module (pac CLI 2.11.2), which is gated behind the `ModuleAdvisor` feature flag and absent from the CLI's own published command manifest. It is also absent from Microsoft.PowerPlatform.Management, the generated client that covers the rest of this namespace — so the released internal OpenAPI does not describe it yet. Treat it as preview surface that can change or disappear.",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version. The pac CLI pins `2024-10-01` on every request to this API, overwriting any value a caller supplies."
     }
    ],
    "responses": {
     "200": {
      "description": "The advisor's answer.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdvisorChatMessage"
        }
       }
      }
     }
    },
    "x-ms-namespace": "analytics/advisor-chat",
    "x-source": "pac-cli",
    "servers": [
     {
      "url": "https://{tenantIdHead}.{tenantIdTail}.tenant.api.powerplatform.com",
      "variables": {
       "tenantIdHead": {
        "default": "000000000000000000000000000000"
       },
       "tenantIdTail": {
        "default": "ab"
       }
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AdvisorChatRequest"
       }
      }
     }
    },
    "x-ms-preview": true,
    "x-notes": [
     "Found in the pac CLI's `advisor` module (pac CLI 2.11.2), which is gated behind the `ModuleAdvisor` feature flag and absent from the CLI's own published command manifest. It is also absent from Microsoft.PowerPlatform.Management, the generated client that covers the rest of this namespace — so the released internal OpenAPI does not describe it yet. Treat it as preview surface that can change or disappear."
    ]
   }
  },
  "/analytics/advisorRecommendations": {
   "get": {
    "operationId": "analytics_getRecommendations",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Recommendations Read",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "$skipToken",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Skip token for the next page of recommendations."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdvisorRecommendationIEnumerableResponseWithContinuation"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-recommendations"
    }
   }
  },
  "/analytics/advisorRecommendations/scenarios": {
   "get": {
    "operationId": "analytics_getRecommendationScenarios",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Recommendation Scenarios Read",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/AdvisorScenario"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-recommendation-scenarios"
    }
   }
  },
  "/analytics/advisorRecommendations/{scenario}/actionmetadata/{actionName}": {
   "get": {
    "operationId": "analytics_getActionSchema",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Action Schema Read",
    "parameters": [
     {
      "name": "actionName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The name of the action."
     },
     {
      "name": "scenario",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The recommendation name."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "object"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     },
     "429": {
      "description": "Too Many Requests"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-action-schema"
    }
   }
  },
  "/analytics/advisorRecommendations/{scenario}/actions": {
   "get": {
    "operationId": "analytics_getScenarioActions",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Scenario Actions Read",
    "parameters": [
     {
      "name": "scenario",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The recommendation name."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/AdvisorAction"
         }
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     },
     "429": {
      "description": "Too Many Requests"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-scenario-actions"
    }
   }
  },
  "/analytics/advisorRecommendations/{scenario}/resources": {
   "get": {
    "operationId": "analytics_getRecommendationResources",
    "tags": [
     "Advisor Recommendation"
    ],
    "summary": "Recommendation Resources Read",
    "parameters": [
     {
      "name": "scenario",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The recommendation name."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "$skipToken",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Skip token for the next page of resources."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdvisorRecommendationResourceIEnumerableResponseWithContinuation"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     },
     "404": {
      "description": "Not Found"
     },
     "429": {
      "description": "Too Many Requests"
     }
    },
    "x-ms-namespace": "analytics/recommendations",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/analytics/recommendations/get-recommendation-resources"
    }
   }
  },
  "/appmanagement/applicationPackages": {
   "get": {
    "operationId": "appmanagement_getTenantApplicationPackage",
    "tags": [
     "Application Package"
    ],
    "summary": "Tenant Read",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TenantApplicationPackageContinuationResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-ms-namespace": "appmanagement/applications",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/appmanagement/applications/get-tenant-application-package"
    }
   }
  },
  "/appmanagement/environments/{environmentId}/applicationPackages": {
   "get": {
    "operationId": "appmanagement_getEnvironmentApplicationPackage",
    "tags": [
     "Application Package"
    ],
    "summary": "Environment Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Environment ID (not to be confused with Org ID)."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "appInstallState",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Application package install state."
     },
     {
      "name": "lcid",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Application package supported language ID."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApplicationPackageContinuationResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-ms-namespace": "appmanagement/applications",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/appmanagement/applications/get-environment-application-package"
    }
   }
  },
  "/appmanagement/environments/{environmentId}/applicationPackages/{uniqueName}/install": {
   "post": {
    "operationId": "appmanagement_installApplicationPackage",
    "tags": [
     "Application Package"
    ],
    "summary": "Install",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Environment ID (not to be confused with the organization ID)."
     },
     {
      "name": "uniqueName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Package unique name."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InstancePackage"
        }
       }
      }
     },
     "202": {
      "description": "Success"
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-ms-namespace": "appmanagement/applications",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "payloadValue": {
          "type": "string"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/appmanagement/applications/install-application-package"
    }
   }
  },
  "/appmanagement/environments/{environmentId}/operations/{operationId}": {
   "get": {
    "operationId": "appmanagement_getApplicationPackageInstallStatus",
    "tags": [
     "Application Package"
    ],
    "summary": "Install Status Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Environment ID (not to be confused with organization ID)."
     },
     {
      "name": "operationId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "Operation ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/InstancePackageOperationPollingResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request"
     },
     "401": {
      "description": "Unauthorized"
     },
     "403": {
      "description": "Forbidden"
     }
    },
    "x-ms-namespace": "appmanagement/applications",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/appmanagement/applications/get-application-package-install-status"
    }
   }
  },
  "/authorization/environmentGroups/{environmentGroupId}/roleAssignments": {
   "post": {
    "operationId": "authorization_createEnvironmentGroupRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Create (Environment Group)",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment group."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "201": {
      "description": "Role assignment created.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleAssignmentResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The body is invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "principalObjectId": {
          "type": "string",
          "description": "The ID of the principal to assign"
         },
         "principalType": {
          "type": "string",
          "description": "The type of the principal"
         },
         "roleDefinitionId": {
          "type": "string",
          "description": "The ID of the role definition"
         },
         "scope": {
          "type": "string",
          "description": "The assignment scope"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/create-environment-group-role-assignment"
    }
   },
   "get": {
    "operationId": "authorization_listEnvironmentGroupRoleAssignments",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignments List (Environment Group)",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment group."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of role assignments for the environment group.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleAssignmentResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The query parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/list-environment-group-role-assignments"
    }
   }
  },
  "/authorization/environmentGroups/{environmentGroupId}/roleAssignments/{roleAssignmentId}": {
   "delete": {
    "operationId": "authorization_deleteEnvironmentGroupRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Delete (Environment Group)",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment group."
     },
     {
      "name": "roleAssignmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the role assignment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "204": {
      "description": "Role assignment deleted successfully."
     },
     "400": {
      "description": "Bad Request - The parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The role assignment does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/delete-environment-group-role-assignment"
    }
   }
  },
  "/authorization/environments/{environmentId}/roleAssignments": {
   "post": {
    "operationId": "authorization_createEnvironmentRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Create (Environment)",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "201": {
      "description": "Role assignment created.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleAssignmentResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The body is invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     },
     "200": {
      "description": "The created role assignment. Verified live; the documentation shows 201 with a different envelope.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RbacRoleAssignment"
        }
       }
      }
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): returns 200 OK, not the documented 201, and a single assignment object {roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdByPrincipalType, createdByPrincipalObjectId, createdOn, expiresOn}, not the documented RoleAssignmentResponse {value:[...]} envelope.",
     "The body scope must match this path (/tenants/{tid}/environments/{id}) or the call returns 400 WrongResourceTypeForUrlContext."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): returns 200 OK, not the documented 201, and a single assignment object {roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdByPrincipalType, createdByPrincipalObjectId, createdOn, expiresOn}, not the documented RoleAssignmentResponse {value:[...]} envelope.\n> - The body scope must match this path (/tenants/{tid}/environments/{id}) or the call returns 400 WrongResourceTypeForUrlContext.",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "principalObjectId": {
          "type": "string",
          "description": "The ID of the principal to assign"
         },
         "principalType": {
          "type": "string",
          "description": "The type of the principal"
         },
         "roleDefinitionId": {
          "type": "string",
          "description": "The ID of the role definition"
         },
         "scope": {
          "type": "string",
          "description": "The assignment scope"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/create-environment-role-assignment"
    }
   },
   "get": {
    "operationId": "authorization_listEnvironmentRoleAssignments",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignments List (Environment)",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Role assignments at environment scope. Verified against the live API.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RbacRoleAssignmentList"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The query parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): items carry the full assignment shape (roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdBy fields, createdOn, expiresOn), not the documented role-definition-shaped item."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): items carry the full assignment shape (roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdBy fields, createdOn, expiresOn), not the documented role-definition-shaped item.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/list-environment-role-assignments"
    }
   }
  },
  "/authorization/environments/{environmentId}/roleAssignments/{roleAssignmentId}": {
   "delete": {
    "operationId": "authorization_deleteEnvironmentRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Delete (Environment)",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "roleAssignmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the role assignment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "204": {
      "description": "Role assignment deleted successfully."
     },
     "400": {
      "description": "Bad Request - The parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The role assignment does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): returns 200 with the deleted assignment in the body. Deletes are path-scoped, so an environment-scoped assignment cannot be deleted through the tenant path (that returns 404 RoleAssignmentNotFound)."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): returns 200 with the deleted assignment in the body. Deletes are path-scoped, so an environment-scoped assignment cannot be deleted through the tenant path (that returns 404 RoleAssignmentNotFound).",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/delete-environment-role-assignment"
    }
   }
  },
  "/authorization/roleAssignments": {
   "post": {
    "operationId": "authorization_createRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Create (Tenant)",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "201": {
      "description": "Role assignment created.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleAssignmentResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The body is invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): the URL path fixes the allowed scope. Posting a body scope of /tenants/{tid}/environments/{id} to this tenant endpoint returns 400 WrongResourceTypeForUrlContext. Tenant, environment, and environment-group scoped assignments are separate endpoints, not one endpoint switched by the body scope."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): the URL path fixes the allowed scope. Posting a body scope of /tenants/{tid}/environments/{id} to this tenant endpoint returns 400 WrongResourceTypeForUrlContext. Tenant, environment, and environment-group scoped assignments are separate endpoints, not one endpoint switched by the body scope.",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "principalObjectId": {
          "type": "string",
          "description": "The ID of the principal to assign"
         },
         "principalType": {
          "type": "string",
          "description": "The type of the principal"
         },
         "roleDefinitionId": {
          "type": "string",
          "description": "The ID of the role definition"
         },
         "scope": {
          "type": "string",
          "description": "The assignment scope"
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/create-role-assignment"
    }
   },
   "get": {
    "operationId": "authorization_listRoleAssignments",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignments List (Tenant)",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Tenant-scoped role assignments. Verified against the live API.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RbacRoleAssignmentList"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The query parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): assignment items are {roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdByPrincipalType, createdByPrincipalObjectId, createdOn, expiresOn}, not the documented role-definition-shaped item. The tenant list returns only tenant-scoped assignments; environment-scoped ones appear only under /authorization/environments/{id}/roleAssignments."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): assignment items are {roleAssignmentId, scope, principalType, principalObjectId, roleDefinitionId, createdByPrincipalType, createdByPrincipalObjectId, createdOn, expiresOn}, not the documented role-definition-shaped item. The tenant list returns only tenant-scoped assignments; environment-scoped ones appear only under /authorization/environments/{id}/roleAssignments.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/list-role-assignments"
    }
   }
  },
  "/authorization/roleAssignments/{roleAssignmentId}": {
   "delete": {
    "operationId": "authorization_deleteRoleAssignment",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Assignment Delete (Tenant)",
    "parameters": [
     {
      "name": "roleAssignmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The unique identifier of the role assignment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "204": {
      "description": "Role assignment deleted successfully."
     },
     "400": {
      "description": "Bad Request - The parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The role assignment does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/delete-role-assignment"
    }
   }
  },
  "/authorization/roleDefinitions": {
   "get": {
    "operationId": "authorization_listRoleDefinitions",
    "tags": [
     "Role Based Access Control"
    ],
    "summary": "Role Definitions List",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of role definitions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RoleDefinitionResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request - The query parameters are invalid."
     },
     "401": {
      "description": "Unauthorized - Invalid credentials or missing authentication."
     },
     "404": {
      "description": "Not Found - The specified resource does not exist."
     },
     "500": {
      "description": "Internal Server Error - Unexpected server error."
     }
    },
    "x-ms-namespace": "authorization/role-based-access-control",
    "x-notes": [
     "Verified live (2026-08-27): role definitions also carry description, roleType, assignableScopes[], restrictedScopes[], and permissionsExceptions[] beyond the documented permissions, roleDefinitionId, and roleDefinitionName."
    ],
    "description": "> **Verified against the live API**\n>\n> - Verified live (2026-08-27): role definitions also carry description, roleType, assignableScopes[], restrictedScopes[], and permissionsExceptions[] beyond the documented permissions, roleDefinitionId, and roleDefinitionName.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/authorization/role-based-access-control/list-role-definitions"
    }
   }
  },
  "/connectivity/connections": {
   "get": {
    "operationId": "connectivity_listConnectionsOnEnvironmentHost",
    "tags": [
     "Connection"
    ],
    "summary": "List (Environment Host)",
    "description": "Lists connections in the environment the host names — the same resource as [List](#/operations/connectivity_listConnections), without the `/environments/{environmentId}` segment.",
    "servers": [
     {
      "url": "https://{environmentIdHead}.{environmentIdTail}.environment.api.powerplatform.com",
      "variables": {
       "environmentIdHead": {
        "default": "000000000000000000000000000000"
       },
       "environmentIdTail": {
        "default": "ab"
       }
      }
     }
    ],
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "1"
      },
      "description": "The API version. Every recorded first-party call to this operation sends `1`."
     },
     {
      "name": "$filter",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "OData filter. The portal repeats the environment id here even though the host already implies it.",
      "example": "environment eq '00000000-0000-0000-0000-000000000000'"
     },
     {
      "name": "$expand",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "`api` inlines the whole connector definition on each connection, which is large — prefer a separate connector read if you only need its display name.",
      "example": "api"
     }
    ],
    "responses": {
     "200": {
      "description": "The connections in this environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ListConnectionsResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connections",
    "x-probe-verified": true
   }
  },
  "/connectivity/connectors": {
   "get": {
    "operationId": "connectivity_listConnectorsOnEnvironmentHost",
    "tags": [
     "Connector"
    ],
    "summary": "List (Environment Host)",
    "description": "Lists connectors available in the environment the host names. The full catalogue is large — 1,563 entries in one recorded response, several megabytes — and arrives in a single body with no `nextLink`, so filter rather than paging.",
    "servers": [
     {
      "url": "https://{environmentIdHead}.{environmentIdTail}.environment.api.powerplatform.com",
      "variables": {
       "environmentIdHead": {
        "default": "000000000000000000000000000000"
       },
       "environmentIdTail": {
        "default": "ab"
       }
      }
     }
    ],
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "1"
      },
      "description": "The API version. Every recorded first-party call to this operation sends `1`."
     },
     {
      "name": "$filter",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "OData filter. `apiCurationName` narrows to a curated set — `PowerAppsClients` is the set the maker portal offers.",
      "example": "environment eq '00000000-0000-0000-0000-000000000000' and apiCurationName eq 'PowerAppsClients'"
     },
     {
      "name": "$expand",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "example": "api"
     },
     {
      "name": "showApisWithToS",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      },
      "description": "Include connectors whose use requires accepting terms of service. They are omitted otherwise."
     }
    ],
    "responses": {
     "200": {
      "description": "The connector catalogue for this environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ListConnectorsResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connectors",
    "x-probe-verified": true
   }
  },
  "/connectivity/connectors/{connectorName}": {
   "get": {
    "operationId": "connectivity_getConnectorOnEnvironmentHost",
    "tags": [
     "Connector"
    ],
    "summary": "Read (Environment Host)",
    "description": "Reads one connector definition from the environment the host names. Note the identifier: it is the connector name, such as `shared_microsoftspatialservices`, not a GUID.",
    "servers": [
     {
      "url": "https://{environmentIdHead}.{environmentIdTail}.environment.api.powerplatform.com",
      "variables": {
       "environmentIdHead": {
        "default": "000000000000000000000000000000"
       },
       "environmentIdTail": {
        "default": "ab"
       }
      }
     }
    ],
    "parameters": [
     {
      "name": "connectorName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The connector name.",
      "example": "shared_microsoftspatialservices"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "1"
      },
      "description": "The API version. Every recorded first-party call to this operation sends `1`."
     },
     {
      "name": "$filter",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "example": "environment eq '00000000-0000-0000-0000-000000000000'"
     }
    ],
    "responses": {
     "200": {
      "description": "The connector, including its `swagger` document and `connectionParameters`.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/GetConnectorByIdResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connectors",
    "x-probe-verified": true
   }
  },
  "/connectivity/environments/{environmentId}/connections": {
   "get": {
    "operationId": "connectivity_listConnections",
    "tags": [
     "Connection"
    ],
    "summary": "List",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "ID of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of connections in the specified environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ListConnectionsResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connections",
    "x-notes": [
     "The environment-scoped host serves the same list at `/connectivity/connections` with no `/environments/{environmentId}` segment; that is the form the maker portal uses. Undocumented `$filter` (`environment eq '<environmentId>'`) and `$expand=api` (inline the connector definition on each connection) were both accepted there."
    ],
    "description": "> **Verified against the live API**\n>\n> - The environment-scoped host serves the same list at `/connectivity/connections` with no `/environments/{environmentId}` segment; that is the form the maker portal uses. Undocumented `$filter` (`environment eq '<environmentId>'`) and `$expand=api` (inline the connector definition on each connection) were both accepted there.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/connectivity/connections/list-connections"
    }
   }
  },
  "/connectivity/environments/{environmentId}/connectors": {
   "get": {
    "operationId": "connectivity_listConnectors",
    "tags": [
     "Connector"
    ],
    "summary": "List",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "ID of the environment."
     },
     {
      "name": "$filter",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Filter query to specify the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A list of connectors in the specified environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ListConnectorsResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connectors",
    "x-notes": [
     "The environment-scoped host serves the same list at `/connectivity/connectors`. Undocumented query options observed there: `$filter` on `environment` and `apiCurationName` (e.g. `PowerAppsClients`), `$expand=api`, and `showApisWithToS` to include connectors that require accepting terms of service.",
     "The full catalogue is large — 1,563 connectors in one recorded response — and arrives in a single body with no `nextLink`."
    ],
    "description": "> **Verified against the live API**\n>\n> - The environment-scoped host serves the same list at `/connectivity/connectors`. Undocumented query options observed there: `$filter` on `environment` and `apiCurationName` (e.g. `PowerAppsClients`), `$expand=api`, and `showApisWithToS` to include connectors that require accepting terms of service.\n> - The full catalogue is large — 1,563 connectors in one recorded response — and arrives in a single body with no `nextLink`.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/connectivity/connectors/list-connectors"
    }
   }
  },
  "/connectivity/environments/{environmentId}/connectors/{connectorId}": {
   "get": {
    "operationId": "connectivity_getConnectorById",
    "tags": [
     "Connector"
    ],
    "summary": "Read",
    "parameters": [
     {
      "name": "connectorId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "ID of the connector."
     },
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "ID of the environment."
     },
     {
      "name": "$filter",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "Filter query to specify the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "A specific connector in the specified environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/GetConnectorByIdResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "connectivity/connectors",
    "x-notes": [
     "The environment-scoped host serves the same connector at `/connectivity/connectors/{connectorName}`, where the name is the shared-connector id such as `shared_microsoftspatialservices` rather than a GUID."
    ],
    "description": "> **Verified against the live API**\n>\n> - The environment-scoped host serves the same connector at `/connectivity/connectors/{connectorName}`, where the name is the shared-connector id such as `shared_microsoftspatialservices` rather than a GUID.",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/connectivity/connectors/get-connector-by-id"
    }
   }
  },
  "/copilotgovernance/settings/{settingName}": {
   "get": {
    "operationId": "copilotgovernance_getSetting",
    "tags": [
     "Copilot Governance Setting"
    ],
    "summary": "Read",
    "description": "Reads one generative AI consent switch for the environment the host names, with everything needed to render and interpret it: the effective `value`, the `defaultValue` that applies when nothing is set, whether the toggle is locked (`isDisabled`) and why, and the rule whose inputs actually write it. To change a setting, write the rule inputs named in `rule.ruleInputs` — this resource is read-only.\n\n> **Verified against the live API**\n>\n> - `defaultValue` is not the effective value: a recorded setting had `defaultValue: true`, `value: false` and `isDisabled: true` at once, because the tenant had blocked the capability in the Microsoft 365 admin centre. Read `value`, and read `statusMessage` to explain a locked toggle.",
    "servers": [
     {
      "url": "https://{environmentIdHead}.{environmentIdTail}.environment.api.powerplatform.com",
      "variables": {
       "environmentIdHead": {
        "default": "000000000000000000000000000000"
       },
       "environmentIdTail": {
        "default": "ab"
       }
      }
     }
    ],
    "parameters": [
     {
      "name": "settingName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The setting to read. Recorded names are per model provider: `PowerPlatform_Anthropic`, `PowerPlatform_Mistral`.",
      "example": "PowerPlatform_Anthropic"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "1"
      },
      "description": "The API version. Every recorded first-party call to this operation sends `1`."
     }
    ],
    "responses": {
     "200": {
      "description": "The setting and its effective value.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CopilotGovernanceSetting"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotgovernance/settings",
    "x-probe-verified": true,
    "x-notes": [
     "`defaultValue` is not the effective value: a recorded setting had `defaultValue: true`, `value: false` and `isDisabled: true` at once, because the tenant had blocked the capability in the Microsoft 365 admin centre. Read `value`, and read `statusMessage` to explain a locked toggle."
    ]
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/agents/{AgentId}/channels/{ChannelName}/download": {
   "get": {
    "operationId": "copilotstudio_downloadAgentChannelManifest",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Agent Channel Manifest Download",
    "parameters": [
     {
      "name": "AgentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The bot ID."
     },
     {
      "name": "ChannelName",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The channel name. Currently only \"M365\" is supported."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     },
     {
      "name": "includeAgentSchema",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      },
      "description": "Whether to include the agent schema in the downloaded manifest package."
     }
    ],
    "responses": {
     "200": {
      "description": "The channel manifest package as a downloadable zip file.",
      "content": {
       "application/json": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/agent-channels",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/agent-channels/download-agent-channel-manifest"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botAdminOperations": {
   "delete": {
    "operationId": "copilotstudio_deleteCopilotAgent",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Delete",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response"
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/delete-copilot-agent"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botAdminOperations/reassign": {
   "post": {
    "operationId": "copilotstudio_reassignCopilotAgent",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Reassign",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "204": {
      "description": "Successful response"
     },
     "400": {
      "description": "Bad Request."
     },
     "500": {
      "description": "Internal Server Error."
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "NewOwnerAadUserId": {
          "type": "string",
          "description": "The new owner Entra ID."
         }
        },
        "required": [
         "NewOwnerAadUserId"
        ]
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/reassign-copilot-agent"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botQuarantine": {
   "get": {
    "operationId": "copilotstudio_getBotQuarantineStatus",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Bot Quarantine Status Read",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BotQuarantineStatus"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/get-bot-quarantine-status"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botQuarantine/SetAsQuarantined": {
   "post": {
    "operationId": "copilotstudio_setBotAsQuarantined",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Set Bot As Quarantined",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BotQuarantineStatus"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/set-bot-as-quarantined"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/botQuarantine/SetAsUnquarantined": {
   "post": {
    "operationId": "copilotstudio_setBotAsUnquarantined",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Set Bot As Unquarantined",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/BotQuarantineStatus"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/set-bot-as-unquarantined"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/connectorConsentBypass": {
   "get": {
    "operationId": "copilotstudio_getConnectorConsentBypass",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Connector Consent Bypass Read",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConnectorConsentBypassResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/get-connector-consent-bypass"
    }
   },
   "put": {
    "operationId": "copilotstudio_setConnectorConsentBypass",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Connector Consent Bypass Set",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ConnectorConsentBypassResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "adminConsentBypass": {
          "type": "boolean",
          "description": "Indicates whether to enable admin connector consent bypass for the bot."
         }
        },
        "required": [
         "adminConsentBypass"
        ]
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/set-connector-consent-bypass"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testruns": {
   "get": {
    "operationId": "copilotstudio_listMakerEvaluationTestRuns",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Test Runs List",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TestRunCollection"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/list-maker-evaluation-test-runs"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testruns/{TestRunId}": {
   "get": {
    "operationId": "copilotstudio_getMakerEvaluationTestRun",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Test Run Read",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "TestRunId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The test run ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TestRun"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/get-maker-evaluation-test-run"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testruns/{TestRunId}/snapshot": {
   "get": {
    "operationId": "copilotstudio_downloadMakerEvaluationSnapshot",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Snapshot Download",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "TestRunId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The test run ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "The bot content snapshot ZIP file.",
      "content": {
       "application/json": {
        "schema": {
         "type": "string"
        }
       }
      },
      "headers": {
       "Content-Disposition": {
        "schema": {
         "type": "string"
        }
       }
      }
     },
     "404": {
      "description": "Test run not found."
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/download-maker-evaluation-snapshot"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testsets": {
   "get": {
    "operationId": "copilotstudio_listMakerEvaluationTestSets",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Test Sets List",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TestSetCollection"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/list-maker-evaluation-test-sets"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testsets/{TestSetId}": {
   "get": {
    "operationId": "copilotstudio_getMakerEvaluationTestSet",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Maker Evaluation Test Set Read",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "TestSetId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The test set ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TestSet"
        }
       }
      }
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/get-maker-evaluation-test-set"
    }
   }
  },
  "/copilotstudio/environments/{EnvironmentId}/bots/{BotId}/api/makerevaluation/testsets/{TestSetId}/run": {
   "post": {
    "operationId": "copilotstudio_runMakerEvaluationTestSet",
    "tags": [
     "Copilot Agent"
    ],
    "summary": "Run Maker Evaluation Test Set",
    "parameters": [
     {
      "name": "BotId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The bot ID."
     },
     {
      "name": "EnvironmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The environment ID."
     },
     {
      "name": "TestSetId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The test set ID."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successful response.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/RunStatusResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request."
     },
     "500": {
      "description": "Internal Server Error."
     }
    },
    "x-ms-namespace": "copilotstudio/bots",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "evaluationRunName": {
          "type": "string",
          "description": "The name of the evaluation run."
         },
         "mcsConnectionId": {
          "type": "string",
          "description": "The connection ID for the MCS connector that is used to execute the evaluation run, or leave empty for an anonymous run."
         },
         "runOnPublishedBot": {
          "type": "boolean",
          "description": "Indicates whether the operation should run on a published bot instance. If set to false, the operation will run on a draft bot instance."
         },
         "toolsConnections": {
          "type": "array",
          "items": {
           "$ref": "#/components/schemas/ToolsConnections"
          },
          "description": "The tools connections that will be used to execute the evaluation run. This is a list of tools along with the corresponding user connections that should be used for each tool."
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/copilotstudio/bots/run-maker-evaluation-test-set"
    }
   }
  },
  "/dynamics/environments/{environmentId}/finopsadminsettings": {
   "get": {
    "operationId": "dynamics_getFinOpsMaintenanceSettings",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Maintenance Settings Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved Finance and Operations Maintenance.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsAdminSettingsResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-maintenance-settings",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-maintenance-settings/get-fin-ops-maintenance-settings"
    }
   },
   "put": {
    "operationId": "dynamics_updateFinOpsMaintenanceSettings",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Maintenance Settings Update",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully updated Finance and Operations Maintenance.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsAdminSettingsResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-maintenance-settings",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "updatedMaintenanceWindowCadence": {
          "allOf": [
           {
            "$ref": "#/components/schemas/FinOpsUpdateCadence"
           }
          ],
          "description": "Cadence for major version application updates."
         },
         "updatedMaintenanceWindowDaysOfWeek": {
          "type": "array",
          "items": {
           "$ref": "#/components/schemas/FinOpsDayOfWeek"
          },
          "description": "The updated maintenance window days of the week."
         }
        }
       }
      }
     }
    },
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-maintenance-settings/update-fin-ops-maintenance-settings"
    }
   }
  },
  "/dynamics/environments/{environmentId}/finopsproperties": {
   "get": {
    "operationId": "dynamics_getFinOpsProperties",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Properties Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved Finance and Operations properties.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsPropertiesResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-properties",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-properties/get-fin-ops-properties"
    }
   }
  },
  "/dynamics/environments/{environmentId}/finopsversions": {
   "get": {
    "operationId": "dynamics_getFinOpsVersions",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Versions Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "200": {
      "description": "Successfully retrieved available Finance and Operations versions.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsVersionsResponse"
        }
       }
      }
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-versions",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-versions/get-fin-ops-versions"
    }
   }
  },
  "/dynamics/environments/{environmentId}/finopsversions/{version}/apply": {
   "post": {
    "operationId": "dynamics_applyFinOpsVersion",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Version Apply",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "version",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "description": "The Finance and Operations application version to apply (for example, 10.0.47.5)."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2024-10-01"
      },
      "description": "The API version."
     }
    ],
    "responses": {
     "202": {
      "description": "The apply version operation was accepted and is being processed.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ApplyFinOpsVersionAcceptedResponse"
        }
       }
      },
      "headers": {
       "Location": {
        "schema": {
         "type": "string"
        }
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        }
       }
      }
     },
     "204": {
      "description": "No update was required because the environment is already at or above the requested version."
     },
     "400": {
      "description": "Bad Request.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "401": {
      "description": "Unauthorized.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "403": {
      "description": "Forbidden.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "404": {
      "description": "Not Found.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "Internal Server Error.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/FinOpsErrorResponse"
        }
       }
      }
     }
    },
    "x-ms-namespace": "dynamics/finance-and-operations-versions",
    "externalDocs": {
     "url": "https://learn.microsoft.com/en-us/rest/api/power-platform/dynamics/finance-and-operations-versions/apply-fin-ops-version"
    }
   }
  },
  "/dynamics/environments/{environmentId}/operationerrors": {
   "get": {
    "operationId": "dynamics_getFinOpsOperationErrors",
    "tags": [
     "F&O Environment"
    ],
    "summary": "Fin Ops Operation Errors Read",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The unique identifier of the environment."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
[...]
