{
 "openapi": "3.0.3",
 "info": {
  "title": "Business Application Platform API (BAPI)",
  "version": "2023-06-01",
  "description": "The Business Application Platform API is the legacy control plane behind the Power Platform admin centre. It manages environments and their lifecycle, Managed Environments, environment groups, DLP policies, tenant settings, tenant isolation, enterprise policies and admin application registration.\n\nMost mutations are **asynchronous**: a `202` returns an absolute poll URL in `Location` (or `Operation-Location`) that renders a `LifecycleOperation`, whose `state.id` runs `NotStarted` \u2192 `Running` \u2192 `Succeeded`/`Failed`.\n\n`api-version` is per operation rather than global, and the `PowerPlatform.Governance` paths take none at all. Sovereign clouds serve the same paths from their own hosts.\n\nUnofficial and reverse-engineered \u2014 see the [README](https://github.com/AdamCoulterOz/powerplatform-apis/tree/main/bapi) for how it was derived and which parts are verified.",
  "x-api-versions": [
   "2016-02-01",
   "2016-11-01",
   "2018-01-01",
   "2018-10-01",
   "2019-05-01",
   "2019-10-01",
   "2020-04-01",
   "2020-05-01",
   "2020-06-01",
   "2020-08-01",
   "2020-09-01",
   "2020-10-01",
   "2021-03-01",
   "2021-04-01",
   "2021-07-01",
   "2022-05-01",
   "2023-06-01",
   "2024-05-01",
   "2026-06-01"
  ],
  "x-probed": {
   "tenant": "a single-geo commercial tenant, 14 environments",
   "date": "2026-08"
  },
  "x-recorded": {
   "source": "Power Platform admin center and maker portal HAR captures",
   "calls": 459,
   "date": "2026-08"
  }
 },
 "servers": [
  {
   "url": "https://api.bap.microsoft.com"
  }
 ],
 "security": [
  {
   "azure_auth": [
    "https://service.powerapps.com/.default"
   ]
  }
 ],
 "tags": [
  {
   "name": "Environments",
   "description": "Environment lifecycle on the admin scope: list, read, create, update, delete, SKU changes, Dataverse provisioning and pre-flight validation."
  },
  {
   "name": "Managed Environments",
   "description": "The governance configuration that turns Managed Environments on or off for an environment."
  },
  {
   "name": "Enterprise Policies",
   "description": "Linking Azure-side enterprise policies (VNet injection, customer-managed keys, identity) to environments."
  },
  {
   "name": "Environment Groups",
   "description": "Grouping environments for bulk governance."
  },
  {
   "name": "Environment Role Assignments",
   "description": "Admin-scope user and application-user membership inside an environment. Applies only to environments without Dataverse: once an organization is linked, every operation here is refused with `LinkedEnvironmentForbiddenOperation` and membership is managed through Dataverse security roles."
  },
  {
   "name": "Tenant",
   "description": "Tenant metadata and tenant-wide settings."
  },
  {
   "name": "Tenant Isolation",
   "description": "The tenant isolation policy controlling cross-tenant connections."
  },
  {
   "name": "DLP Policies",
   "description": "Data-loss-prevention (connector classification) policies, governance v2 surface."
  },
  {
   "name": "Connector Metadata",
   "description": "Static governance metadata about connectors: which cannot be blocked and which are virtual."
  },
  {
   "name": "Locations",
   "description": "Geographic locations and the currencies, languages and environment templates available in each."
  },
  {
   "name": "Admin Applications",
   "description": "Registration of service principals as Power Platform admin management applications."
  },
  {
   "name": "Lifecycle Operations",
   "description": "Polling of asynchronous operations through the absolute URL a 202 hands back in `Location` or `Operation-Location`. BAPI runs at most one lifecycle operation per environment; every other mutation is refused with 409 until it finishes."
  },
  {
   "name": "Tenant-to-Tenant Migrations",
   "description": "Migration of an environment from one Entra tenant to another. Only the read endpoint is described here; the operations that start and drive a migration are not."
  },
  {
   "name": "Country Opt-In Defaults",
   "description": "Static per-country defaults for the optional-data-collection consent prompt the first-party web clients show."
  },
  {
   "name": "Feature Gates",
   "description": "Microsoft's internal service-rollout flags, as they resolve for one directory principal. Diagnostic only: the names are undocumented, unstable, and not a contract."
  }
 ],
 "paths": {
  "/providers/Microsoft.BusinessAppPlatform/adminApplications/{clientId}": {
   "get": {
    "operationId": "adminApplications_get",
    "tags": [
     "Admin Applications"
    ],
    "summary": "Read",
    "parameters": [
     {
      "name": "clientId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The service principal's Entra application (client) id.",
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2020-10-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The registration.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdminManagementApplication"
        }
       }
      }
     },
     "400": {
      "description": "`InvalidApplicationId` \u2014 the id is not a registered admin management application. Note the status: an unregistered application is a bad request here, not a 404.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true,
    "description": "Reads one admin management application registration by client id. Confirms a service principal is registered; it returns nothing beyond the id it was asked about, and cannot be used to discover registrations \u2014 list them instead."
   },
   "put": {
    "operationId": "adminApplications_register",
    "tags": [
     "Admin Applications"
    ],
    "summary": "Register",
    "description": "Registers a service principal, by its Entra application (client) id, as a Power Platform admin management application. That grants it tenant-wide admin API access with no signed-in user, so it is a genuinely privileged change. No request body.",
    "parameters": [
     {
      "name": "clientId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The service principal's Entra application (client) id.",
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2020-10-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The registration.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AdminManagementApplication"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   },
   "delete": {
    "operationId": "adminApplications_unregister",
    "tags": [
     "Admin Applications"
    ],
    "summary": "Unregister",
    "parameters": [
     {
      "name": "clientId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "The service principal's Entra application (client) id.",
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2020-10-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "Unregistered."
     },
     "204": {
      "description": "Unregistered."
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "description": "Revokes a service principal's admin management application registration, ending its unattended access to the admin APIs."
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/environmentGroups": {
   "post": {
    "operationId": "environmentGroups_create",
    "tags": [
     "Environment Groups"
    ],
    "summary": "Create",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/EnvironmentGroup"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "The created group.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentGroup"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "description": "Creates an environment group. The group is the unit governance rules target, so an environment inherits its rules by being moved into one \u2014 through the environment's own `properties.parentEnvironmentGroup`, not through this resource."
   },
   "get": {
    "operationId": "environmentGroups_list",
    "tags": [
     "Environment Groups"
    ],
    "summary": "List",
    "description": "Lists the tenant's environment groups. Each entry carries only the group's own identity \u2014 membership is not here, and is read the other way round, from each environment's `properties.parentEnvironmentGroup`, or by filtering the environment list on `properties/parentEnvironmentGroup/id`.",
    "x-provider-unsourced": true,
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      }
     },
     {
      "name": "$top",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "default": 100
      },
      "description": "Maximum groups to return. The admin center sends 100."
     }
    ],
    "responses": {
     "200": {
      "description": "The tenant's environment groups.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentGroupList"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/environmentGroups/{environmentGroupId}": {
   "get": {
    "operationId": "environmentGroups_get",
    "tags": [
     "Environment Groups"
    ],
    "summary": "Read",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The group.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentGroup"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "`EnvironmentGroupNotFound`.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": false,
    "description": "Reads one environment group. The group does not carry its members: list environments with `$filter=properties/parentEnvironmentGroup/id eq {environmentGroupId}` to find them."
   },
   "put": {
    "operationId": "environmentGroups_update",
    "tags": [
     "Environment Groups"
    ],
    "summary": "Update",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/EnvironmentGroup"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The updated group.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentGroup"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "description": "Replaces the group's display name and description. A PUT, so send the whole object."
   },
   "delete": {
    "operationId": "environmentGroups_delete",
    "tags": [
     "Environment Groups"
    ],
    "summary": "Delete",
    "description": "Deletes an environment group. Whether a populated group is protected is unreliable \u2014 see the responses \u2014 so check the group is empty before deleting it rather than depending on the service to refuse.",
    "parameters": [
     {
      "name": "environmentGroupId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "Reported as deleted. A group that still has member environments is reported the same way and its members are left attached, so this status alone does not prove the group was empty. Read back to confirm."
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "The group still has member environments or an assigned policy. Not raised consistently: the same situation has also answered 200.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/environments": {
   "post": {
    "operationId": "environments_create",
    "tags": [
     "Environments"
    ],
    "summary": "Create",
    "description": "Provisions an environment. `properties.displayName` and `properties.environmentSku` are mandatory; everything else is optional, and the service validates them in that order.\n\nDataverse is opt-in through `properties.databaseType`: setting it to `CommonDataService` provisions an organization from `properties.linkedEnvironmentMetadata`.\n\nAn environment without Dataverse is created synchronously in seconds; one with Dataverse is asynchronous. Either way the environment is readable before its `linkedEnvironmentMetadata` is, so clients that need the organization URL must keep re-reading after the operation succeeds.\n\nA typical create body carries `location`, `displayName`, `environmentSku`, `databaseType`, `linkedEnvironmentMetadata` (`baseLanguage`, `currency.code`, an empty `templates`), `billingPolicy` and `cluster.category`. An explicit `null` is accepted wherever the member is optional, which is how `usedBy`, `parentEnvironmentGroup` and `governanceConfiguration` are normally sent.",
    "x-notes": [
     {
      "note": "Sending `linkedEnvironmentMetadata` without `properties.databaseType` does not create a Dataverse organization and does not fail. The whole block is discarded and the call returns a successful, Dataverse-less environment with no error and no warning.",
      "source": "live"
     }
    ],
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     },
     {
      "name": "retainOnProvisionFailure",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean",
       "default": false
      },
      "description": "When true, a failed provision leaves the environment behind in a failed state for diagnosis instead of rolling it back. The admin center sends `false` explicitly."
     },
     {
      "name": "overrideEnvironmentGroupAssigned",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      },
      "description": "Lets `properties.parentEnvironmentGroup` win over whatever group the tenant's environment-group routing rules would otherwise assign \u2014 including `null`, which is how the admin center creates an ungrouped environment in a tenant that has a default group. The admin center sends `true` on every create."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/EnvironmentCreate"
       }
      }
     }
    },
    "responses": {
     "201": {
      "description": "Created synchronously, which is what an environment without Dataverse does. The body is the full created environment \u2014 its `name` is the new environment id, and `properties.provisioningState` is already `Succeeded`.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Environment"
        }
       }
      }
     },
     "202": {
      "description": "Accepted; provisioning continues asynchronously, which is what requesting Dataverse does. Poll the URL in `Location` (or `Operation-Location`); the finished operation's `links.environment.path` ends in the new environment id, and is the only place this response hands it back.",
      "headers": {
       "Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "Absolute poll URL, already carrying the request's api-version and any `$expand`. Present on every asynchronous response except `modifySku`, which uses `Operation-Location` instead; read whichever is set."
       },
       "Operation-Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "The same poll URL under the alternate header name."
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        },
        "description": "Suggested poll interval in seconds \u2014 always delta-seconds, never an HTTP date. Typically 3 to 5 seconds for creates, 5 for edits and Managed Environments changes, and 30 for deletes; the poll responses themselves suggest 10."
       }
      }
     },
     "400": {
      "description": "Rejected before provisioning. `EnvironmentDisplayNameNotFound` for a missing `properties.displayName`, `InvalidEnvironmentSku` (naming the SKU `NotSpecified`) for a missing `properties.environmentSku`, `EnvironmentLocationUnsupported` for an unknown `location`.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "`OperationNotStartable` when another lifecycle operation is in flight; `InsufficientCapacity_StorageDriven` when the tenant has no database capacity left; `DomainNameAlreadyInUse` when the requested Dataverse domain is taken.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "`InternalServerError` \u2014 returned for a structurally empty request body as well as for genuine provisioning failures. The body carries a tracking id worth quoting to support.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   },
   "get": {
    "operationId": "environments_listMakerScope",
    "tags": [
     "Environments"
    ],
    "summary": "List (Maker Scope)",
    "description": "Lists the environments the *calling user* can reach, as the maker portal sees them, rather than every environment in the tenant. It needs no admin role, which is the whole point of the scope: the admin-scope list refuses a non-admin outright.\n\nThe entries are the same `Environment` shape under a different `id` and `type`, minus the admin-only projections \u2014 no `linkedEnvironmentMetadata`, no `clientUris`, no `parentEnvironmentGroup`, no `lastActivity`.",
    "x-provider-unsourced": true,
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2016-11-01"
      },
      "description": "The version the maker portal sends for this operation. Later versions are accepted and return more members."
     }
    ],
    "responses": {
     "200": {
      "description": "The environments the caller can reach.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentList"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/environments/{environmentId}/enterprisePolicies/{environmentType}/{action}": {
   "post": {
    "operationId": "enterprisePolicies_linkUnlink",
    "tags": [
     "Enterprise Policies"
    ],
    "summary": "Link Or Unlink",
    "description": "Links (`action=link`) or unlinks (`action=unlink`) an Azure enterprise policy \u2014 network injection, customer-managed key or managed identity \u2014 to the environment. `environmentType` names the policy kind and the body carries the Azure policy's `systemId`.\n\nThe link is a two-sided object: BAPI drives the environment side, Azure Resource Manager owns the policy itself. A failed lifecycle operation can leave `properties.enterprisePolicies[...].linkStatus` mid-transition, and there is no resume \u2014 replay the whole call.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "environmentType",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "NetworkInjection",
        "Encryption",
        "Identity"
       ]
      },
      "description": "The policy kind being linked."
     },
     {
      "name": "action",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "enum": [
        "link",
        "unlink"
       ]
      }
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2019-10-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/LinkEnterprisePolicy"
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted. The link is only in force once the operation succeeds **and** the environment reports `properties.enterprisePolicies[...].linkStatus: \"Linked\"`; the two do not update together, and a failed operation can leave the status mid-transition.",
      "headers": {
       "Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "Absolute poll URL, already carrying the request's api-version and any `$expand`. Present on every asynchronous response except `modifySku`, which uses `Operation-Location` instead; read whichever is set."
       },
       "Operation-Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "The same poll URL under the alternate header name."
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        },
        "description": "Suggested poll interval in seconds \u2014 always delta-seconds, never an HTTP date. Typically 5 seconds for creates, edits and conversions and 30 for deletes; the poll responses themselves suggest 10."
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "Another lifecycle operation is in flight, or the requested link already exists.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/environments/{environmentId}/governanceConfiguration": {
   "post": {
    "operationId": "managedEnvironments_setGovernanceConfiguration",
    "tags": [
     "Managed Environments"
    ],
    "summary": "Governance Configuration Set",
    "description": "Sets the environment's governance configuration. `protectionLevel: \"Standard\"` with a `settings.extendedSettings` block enables Managed Environments; `protectionLevel: \"Basic\"` disables it and ignores any settings sent alongside.\n\nManaged Environments requires a linked Dataverse organization: on an environment without one the request is rejected outright rather than queued.\n\nEvery value inside `extendedSettings` is a string, including the booleans and the numbers.\n\nThe body is optional, and a bodyless POST \u2014 `Content-Length: 0`, no body at all \u2014 means enable with defaults: the service answers 202 with an `EnableGovernanceConfiguration` lifecycle operation and `Retry-After: 5`. Send a body only to set `settings.extendedSettings` at the same time.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/GovernanceConfiguration"
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted, as an `EnableGovernanceConfiguration`, `UpdateGovernanceConfiguration` or `DisableGovernanceConfiguration` lifecycle operation.",
      "headers": {
       "Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "Absolute poll URL, already carrying the request's api-version and any `$expand`. Present on every asynchronous response except `modifySku`, which uses `Operation-Location` instead; read whichever is set."
       },
       "Operation-Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "The same poll URL under the alternate header name."
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        },
        "description": "Suggested poll interval in seconds \u2014 always delta-seconds, never an HTTP date. Typically 5 seconds for creates, edits and conversions and 30 for deletes; the poll responses themselves suggest 10."
       }
      }
     },
     "204": {
      "description": "Nothing to change."
     },
     "400": {
      "description": "`InvalidLifecycleOperationRequest` \u2014 most often because the environment has no linked Dataverse organization, which Managed Environments requires; the message names `EnableGovernanceConfiguration` as the operation it could not start.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "Already in the requested state, or another lifecycle operation is in flight.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/environments/{environmentId}/provisionInstance": {
   "post": {
    "operationId": "environments_provisionDataverse",
    "tags": [
     "Environments"
    ],
    "summary": "Dataverse Add",
    "description": "Provisions a Dataverse organization into an environment created without one. Every member of the body is optional \u2014 the service generates a domain name when none is given \u2014 but `securityGroupId`, if sent, must be a well-formed GUID: unlike environment create, this operation rejects the empty string, and the all-zeros GUID is how 'unrestricted' is expressed.\n\nThe poll URL renders the environment itself rather than a `LifecycleOperation`, on the `scopes/service` projection: watch `properties.provisioningState` move from `LinkedDatabaseProvisioning` to `Succeeded`, not `state.id`.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000",
      "description": "The environment to add Dataverse to. Note the path: this operation lives on the unscoped `environments` collection, not under `scopes/admin`."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CreateLinkEnvironmentMetadata"
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted. The body is already the environment, on the `scopes/service` projection, with `properties.provisioningState` at `LinkedDatabaseProvisioning`. The poll URL renders that same environment rather than a `LifecycleOperation`.",
      "headers": {
       "Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "Absolute poll URL, already carrying the request's api-version and any `$expand`. Present on every asynchronous response except `modifySku`, which uses `Operation-Location` instead; read whichever is set."
       },
       "Operation-Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "The same poll URL under the alternate header name."
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        },
        "description": "Suggested poll interval in seconds \u2014 always delta-seconds, never an HTTP date. Typically 5 seconds for creates, edits and conversions and 30 for deletes; the poll responses themselves suggest 10."
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Environment"
        }
       }
      }
     },
     "400": {
      "description": "`InvalidSecurityGroupId` when `securityGroupId` is present but not a well-formed GUID \u2014 the empty string that environment create accepts is rejected here. `DomainNameAlreadyInUse` when the requested domain is taken.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "The environment already has a Dataverse organization, or another lifecycle operation is in flight.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/lifecycleOperations/{operationId}": {
   "get": {
    "operationId": "lifecycleOperations_get",
    "tags": [
     "Lifecycle Operations"
    ],
    "summary": "Read",
    "description": "Polls an asynchronous operation. This is a first-class path, addressable directly at `api-version=2021-04-01`, and not merely the target of a `Location` header. Following the absolute URL an asynchronous response hands back is still the safer default: it carries the originating request's api-version and `$expand`.\n\n`state.id` moves `NotStarted` \u2192 `Running` \u2192 `Succeeded`/`Failed`; a short operation can be `Succeeded` on the first poll. `stages` breaks the work into `Validate`, `Prepare`, `Run` and `Finalize`, which is where a failure localises. For a create, `links.environment.path` ends in the new environment's id \u2014 the only place an asynchronous create hands it back.\n\nThe operation record outlives its subject: a delete operation stays readable after the environment itself is gone.",
    "x-provider-unsourced": true,
    "parameters": [
     {
      "name": "operationId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "description": "Taken from the last segment of the 202's `Location`/`Operation-Location` URL, or from `properties.ongoingOperation.id` on an environment read."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Carried over from the request that started the operation when the poll URL is followed as given. Any accepted version works; use 2021-04-01 when addressing the path directly."
     }
    ],
    "responses": {
     "200": {
      "description": "The operation. Keep polling while `state.id` is `NotStarted` or `Running`.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/LifecycleOperation"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "`OperationNotFound` \u2014 no operation with this id. Not the same as a completed operation, whose record survives its subject.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "The operation cannot be reported yet; continue polling rather than treating this as a failure.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/listTenantSettings": {
   "post": {
    "operationId": "tenantSettings_list",
    "tags": [
     "Tenant"
    ],
    "summary": "Settings Read",
    "description": "Returns the tenant-wide settings tree.\n\nThe response is the complete tree, so a client managing a subset must filter it before diffing.",
    "x-notes": [
     {
      "note": "A POST that only reads, because the admin center calls it that way. The request body is ignored and may be omitted entirely.",
      "source": "live"
     }
    ],
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The full settings tree.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TenantSettings"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/locations": {
   "get": {
    "operationId": "locations_list",
    "tags": [
     "Locations"
    ],
    "summary": "List",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The locations.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/LocationList"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "description": "Lists the BAP locations \u2014 named geographies, not Azure regions. Includes locations the tenant may not use: check `properties.isDisabled` before offering one, and `properties.canProvisionDatabase` before pairing it with Dataverse.",
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/locations/{location}/environmentCurrencies": {
   "get": {
    "operationId": "locations_listCurrencies",
    "tags": [
     "Locations"
    ],
    "summary": "Currencies List",
    "parameters": [
     {
      "name": "location",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "unitedstates",
      "description": "A location `name` from the locations list."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The currencies available for new environments in this location.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/CurrenciesList"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true,
    "description": "Lists the currencies a new Dataverse organization in this location may use. The choice is permanent: an organization's base currency cannot be changed after provisioning."
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/locations/{location}/environmentLanguages": {
   "get": {
    "operationId": "locations_listLanguages",
    "tags": [
     "Locations"
    ],
    "summary": "Languages List",
    "parameters": [
     {
      "name": "location",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "unitedstates",
      "description": "A location `name` from the locations list."
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The languages available for new environments in this location.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/LanguagesList"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true,
    "description": "Lists the base languages a new Dataverse organization in this location may use, as LCIDs. Like the currency, the base language is fixed at provisioning time; additional languages are enabled inside Dataverse afterwards."
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/locations/{location}/templates": {
   "get": {
    "operationId": "locations_listTemplates",
    "tags": [
     "Locations"
    ],
    "summary": "Templates List",
    "parameters": [
     {
      "name": "location",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      },
      "example": "unitedstates"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "2021-04-01 and later return the SKU-bucketed shape; 2019-10-01 returns the flat `value` collection. Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The templates, in whichever of the two shapes the api-version selects.",
      "content": {
       "application/json": {
        "schema": {
         "oneOf": [
          {
           "$ref": "#/components/schemas/EnvironmentTemplate"
          },
          {
           "$ref": "#/components/schemas/EnvironmentTemplateList"
          }
         ]
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "description": "Lists the Dynamics 365 application templates installable into a new Dataverse organization in this location. Entries the tenant is not licensed for are returned with `isDisabled` true and a `disabledReason` rather than omitted.\n\nThe response shape depends on the api-version: 2021-04-01 and later group the templates into SKU buckets, while 2019-10-01 returns one flat `value` collection of the same items.",
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments": {
   "get": {
    "operationId": "environments_list",
    "tags": [
     "Environments"
    ],
    "summary": "List",
    "description": "Lists every environment in the tenant on the admin scope, in one response \u2014 there is no continuation token or `nextLink`. `$expand` pulls optional projections into `properties`; `properties.capacity` is only available on the single-environment read, not here.",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Versions in active use: 2023-06-01, 2021-04-01."
     },
     {
      "name": "$expand",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Comma-separated projections merged into each environment's `properties`. `properties/billingPolicy` expands the attached billing policy from an id into the full policy; `properties/copilotPolicies` and `properties/enterprisePolicies` add blocks that are otherwise absent. `properties.capacity` \u2014 note the dot \u2014 is accepted only on the single-environment read.",
      "example": "properties/billingPolicy,properties/copilotPolicies"
     },
     {
      "name": "$filter",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Filters the list by environment group membership: `properties/parentEnvironmentGroup/id eq {environmentGroupId}`."
     }
    ],
    "responses": {
     "200": {
      "description": "Every environment in the tenant.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentList"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/{environmentId}": {
   "get": {
    "operationId": "environments_get",
    "tags": [
     "Environments"
    ],
    "summary": "Read",
    "description": "Reads one environment on the admin scope. An empty `environmentId` degrades into the list endpoint and succeeds with a collection body instead of failing, so clients must guard against it themselves.\n\n`properties.linkedEnvironmentMetadata` is present only when Dataverse is linked, and lags environment creation by minutes. `properties.ongoingOperation` appears only while a lifecycle operation is running, and is the cheapest way to find out which operation is blocking a mutation elsewhere.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     },
     {
      "name": "$expand",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Comma-separated projections, e.g. `permissions,properties.capacity,properties/billingPolicy,properties/copilotPolicies`. `properties.capacity` is available here and not on the list endpoint.",
      "example": "permissions,properties.capacity,properties/billingPolicy,properties/copilotPolicies"
     }
    ],
    "responses": {
     "200": {
      "description": "The environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Environment"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "`EnvironmentNotFound` \u2014 no such environment, or it has been deleted. A deleted environment keeps returning 200 until its `Delete` operation finishes, then switches to this.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   },
   "patch": {
    "operationId": "environments_update",
    "tags": [
     "Environments"
    ],
    "summary": "Update",
    "description": "Patches environment properties. Three request shapes are in use: a general `Environment` patch (display name, description, cadence, linked-metadata fields), a `GenerativeAiFeatures` patch, and a `DisasterRecoveryPatch`. Only the members sent are applied.\n\nPin api-version 2021-04-01. Newer versions turn Managed Environments on as a side effect of a description-only update.\n\nThe poll URL returned in `Location` preserves the request's `$expand` and api-version query string verbatim, so it can be fetched as-is. A succeeded lifecycle operation does not guarantee the next read reflects the change: the regional write and the read replica converge separately.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     },
     {
      "name": "$expand",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      },
      "description": "Sent by the general update variant. Whatever is passed here is echoed into the `Location` poll URL, so the finished operation can be fetched with the same projection."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "oneOf": [
         {
          "$ref": "#/components/schemas/Environment"
         },
         {
          "$ref": "#/components/schemas/GenerativeAiFeatures"
         },
         {
          "$ref": "#/components/schemas/DisasterRecoveryPatch"
         }
        ]
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted. The `Edit` lifecycle operation applies the change; the `Location` URL preserves the request's `$expand` and api-version.",
      "headers": {
       "Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "Absolute poll URL, already carrying the request's api-version and any `$expand`. Present on every asynchronous response except `modifySku`, which uses `Operation-Location` instead; read whichever is set."
       },
       "Operation-Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "The same poll URL under the alternate header name."
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        },
        "description": "Suggested poll interval in seconds \u2014 always delta-seconds, never an HTTP date. Typically 5 seconds for creates, edits and conversions and 30 for deletes; the poll responses themselves suggest 10."
       }
      }
     },
     "204": {
      "description": "Nothing changed, so no lifecycle operation was raised and there is no URL to poll. Returned whenever a `GenerativeAiFeatures` patch sends values the environment already holds \u2014 including on a first attempt, when the requested values happen to match the defaults. A client that always expects 202 will wait for a header that is not there."
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "`OperationNotStartable`: another lifecycle operation is already running on this environment. BAPI serialises them strictly, so the fix is to wait \u2014 `properties.ongoingOperation` on a read names the operation to wait for \u2014 and replay.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   },
   "delete": {
    "operationId": "environments_delete",
    "tags": [
     "Environments"
    ],
    "summary": "Delete",
    "description": "Deletes an environment. The body is mandatory and states a deletion reason.\n\nDeletion is soft for `properties.retentionPeriod` \u2014 `P7D` \u2014 during which the environment is unreadable but its Dataverse domain name stays reserved.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/EnvironmentDelete"
       }
      }
     }
    },
    "responses": {
     "202": {
      "description": "Accepted. The `Delete` operation runs `NotStarted` \u2192 `Running` \u2192 `Succeeded`; until it finishes the environment still reads 200, with `provisioningState: \"Deleting\"`.",
      "headers": {
       "Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "Absolute poll URL, already carrying the request's api-version and any `$expand`. Present on every asynchronous response except `modifySku`, which uses `Operation-Location` instead; read whichever is set."
       },
       "Operation-Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "The same poll URL under the alternate header name."
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        },
        "description": "Suggested poll interval in seconds \u2014 always delta-seconds, never an HTTP date. Typically 5 seconds for creates, edits and conversions and 30 for deletes; the poll responses themselves suggest 10."
       }
      }
     },
     "204": {
      "description": "Nothing to delete: returned when the environment is already gone. A delete replayed after a successful one answers 204, not 404."
     },
     "400": {
      "description": "`InvalidOrMissingDeleteCode` \u2014 the body was absent or `code` was not a recognised reason. The message lists every accepted reason name.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "No such environment. Safe to treat as already deleted; deleting an environment that is already gone answers 204 rather than this.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "Another lifecycle operation is in flight. **This 409 carries no body at all** \u2014 not even the error envelope every other failure uses \u2014 so a client that parses every 4xx as JSON will misread it. Wait for the running operation and replay."
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/{environmentId}/addAppUser": {
   "post": {
    "operationId": "environmentRoleAssignments_addApplicationUser",
    "tags": [
     "Environment Role Assignments"
    ],
    "summary": "Application User Add",
    "description": "Registers a service principal as an application user in the environment's Dataverse organization. The body is `{\"servicePrincipalAppId\": \"<app-id>\"}`. This creates the user record only; granting it Dataverse security roles is a separate Dataverse call.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2020-10-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "servicePrincipalAppId": {
          "type": "string",
          "format": "uuid"
         }
        },
        "required": [
         "servicePrincipalAppId"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The application user is registered."
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/{environmentId}/addUser": {
   "post": {
    "operationId": "environmentRoleAssignments_addUser",
    "tags": [
     "Environment Role Assignments"
    ],
    "summary": "User Add",
    "description": "Forces an Entra user to be synchronised into the environment (and its Dataverse organization) so roles can then be assigned. The body is `{\"ObjectId\": \"<entra-object-id>\"}` \u2014 note the capitalised property name.\n\nA `userNotLicensed` error is transient while licence state propagates and is worth retrying rather than surfacing.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "type": "object",
        "properties": {
         "ObjectId": {
          "type": "string",
          "format": "uuid"
         }
        },
        "required": [
         "ObjectId"
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The user is synchronised into the environment."
     },
     "400": {
      "description": "`userNotLicensed` is transient while licence state propagates; retry it rather than surfacing it.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/{environmentId}/modifyRoleAssignments": {
   "post": {
    "operationId": "environmentRoleAssignments_modify",
    "tags": [
     "Environment Role Assignments"
    ],
    "summary": "Modify",
    "description": "Grants and revokes `EnvironmentAdmin`/`EnvironmentMaker` assignments in one call. Each requested item succeeds or fails independently and the response reports them individually, so the call-level status is not the whole answer.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/EnvironmentUserRequest"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Per-item outcomes. Check each item's `httpStatus`: an overall 200 can still contain failures.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentUserResponse"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "`LinkedEnvironmentForbiddenOperation` on a Dataverse-linked environment; otherwise the caller is not an admin.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "500": {
      "description": "A removal can report 500 and still have taken effect. Re-read the assignment list before retrying.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/{environmentId}/modifySku": {
   "post": {
    "operationId": "environments_modifySku",
    "tags": [
     "Environments"
    ],
    "summary": "Type Update",
    "description": "Converts an environment between types, in practice `Sandbox` \u2194 `Production`. Runs as a `Convert` lifecycle operation.\n\nUnusually for this API the poll URL arrives in `Operation-Location` rather than `Location`; clients should read whichever is present. The environment reports `states.management.id: \"Running\"` for the duration and rejects every other mutation.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ModifySku"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Converted synchronously."
     },
     "202": {
      "description": "Accepted. The poll URL arrives in `Operation-Location` for this operation rather than `Location`, and renders a `Convert` lifecycle operation.",
      "headers": {
       "Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "Absolute poll URL, already carrying the request's api-version and any `$expand`. Present on every asynchronous response except `modifySku`, which uses `Operation-Location` instead; read whichever is set."
       },
       "Operation-Location": {
        "schema": {
         "type": "string",
         "format": "uri"
        },
        "description": "The same poll URL under the alternate header name."
       },
       "Retry-After": {
        "schema": {
         "type": "integer"
        },
        "description": "Suggested poll interval in seconds \u2014 always delta-seconds, never an HTTP date. Typically 5 seconds for creates, edits and conversions and 30 for deletes; the poll responses themselves suggest 10."
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "`OperationNotStartable`: another lifecycle operation is already running on this environment. BAPI serialises them strictly, so the fix is to wait \u2014 `properties.ongoingOperation` on a read names the operation to wait for \u2014 and replay.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "`EnvironmentNotFound`; checked before the SKU is validated, so a bad id masks a bad SKU.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/scopes/admin/environments/{environmentId}/roleAssignments": {
   "get": {
    "operationId": "environmentRoleAssignments_list",
    "tags": [
     "Environment Role Assignments"
    ],
    "summary": "List",
    "description": "Lists the admin-scope role assignments of an environment: `EnvironmentAdmin` and `EnvironmentMaker`, the only two roles this scope defines.\n\nThis surface covers environments **without** Dataverse. Once an organization is linked, membership moves to Dataverse security roles and every operation under this tag is refused for that environment.\n\nNewly added principals take time to materialise, so clients poll this list rather than trusting the add call's response.",
    "parameters": [
     {
      "name": "environmentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      },
      "example": "00000000-0000-0000-0000-000000000000"
     },
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The role assignments.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EnvironmentUserGetResponse"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "`LinkedEnvironmentForbiddenOperation` \u2014 the environment has a linked Dataverse organization, and the whole admin-scope role-assignment surface is refused for those. Use Dataverse security roles instead. Otherwise, the caller is not an admin.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/scopes/admin/updateTenantSettings": {
   "post": {
    "operationId": "tenantSettings_update",
    "tags": [
     "Tenant"
    ],
    "summary": "Settings Update",
    "description": "Merges the sent settings into the tenant-wide tree; omitted members keep their current values. Returns the resulting tree.\n\nTenant-wide and immediate \u2014 there is no lifecycle operation and no staging.",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2023-06-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/TenantSettings"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The settings after the update.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/TenantSettings"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    }
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/tenant": {
   "get": {
    "operationId": "tenant_get",
    "tags": [
     "Tenant"
    ],
    "summary": "Read",
    "description": "Reads metadata for the tenant behind the bearer token: its geo placements, Entra data boundary and FedRAMP flag. `aadCountryGeo` and `dataStorageGeo` can disagree on a migrated tenant, and it is `dataStorageGeo` that constrains where environments may be created.",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Versions in active use: 2021-04-01, 2020-08-01."
     }
    ],
    "responses": {
     "200": {
      "description": "The tenant.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Tenant"
        }
       }
      }
     },
     "400": {
      "description": "The request was rejected before anything happened; `error.code` names the specific rejection and `error.message` frequently enumerates the accepted values.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/Microsoft.BusinessAppPlatform/validateEnvironmentDetails": {
   "post": {
    "operationId": "environments_validateDetails",
    "tags": [
     "Environments"
    ],
    "summary": "Details Validate",
    "description": "Pre-flight check for a Dataverse domain name, in two variants selected by the body: send `environmentLocation` before a create, or `environmentName` before renaming an existing environment's domain. Both variants require `domainName`.\n\nWorth calling first \u2014 it distinguishes a malformed name from a taken one, which the create call itself does not.",
    "parameters": [
     {
      "name": "api-version",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "default": "2021-04-01"
      },
      "description": "Accepted values, from the service's own rejection message: 2016-02-01, 2016-11-01, 2018-01-01, 2018-10-01, 2019-05-01, 2019-10-01, 2020-04-01, 2020-05-01, 2020-06-01, 2020-08-01, 2020-09-01, 2020-10-01, 2021-03-01, 2021-04-01, 2021-07-01, 2022-05-01, 2023-06-01, 2024-05-01, 2026-06-01."
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "oneOf": [
         {
          "$ref": "#/components/schemas/ValidateCreateEnvironmentDetails"
         },
         {
          "$ref": "#/components/schemas/ValidateUpdateEnvironmentDetails"
         }
        ]
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "The details are usable: the domain name is well-formed and free, and the location or environment exists. The body is zero-length \u2014 validity is signalled by the status alone."
     },
     "400": {
      "description": "`InvalidValidateEnvironmentDomainName` when `domainName` is missing; `InvalidDomainName` when it breaks the pattern; `EnvironmentLocationUnsupported` when `environmentLocation` is missing or unknown \u2014 and that message lists every valid location.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "401": {
      "description": "The bearer token is missing, expired, or not issued for the PowerApps service audience.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "403": {
      "description": "The caller is not a Power Platform admin, or is a registered admin management application calling a path it may not.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "404": {
      "description": "`EnvironmentNotFound` \u2014 the update variant's `environmentName` names no environment.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     },
     "409": {
      "description": "`DomainNameAlreadyInUse`. Note the status: a taken domain is a conflict, not a bad request. A name released within the last 24 hours still collides.",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/Error"
        }
       }
      }
     }
    },
    "x-probe-verified": true
   }
  },
  "/providers/PowerPlatform.Governance/v1/connectors/metadata/unblockable": {
   "get": {
    "operationId": "connectorMetadata_listUnblockable",
    "tags": [
     "Connector Metadata"
    ],
    "summary": "Unblockable List",
    "description": "Lists the connectors DLP policies are not permitted to block: the core platform connectors the product itself depends on. Placing one in a policy's `Blocked` group has no effect.",
    "responses": {
     "200": {
[...]
